 <div class="clear"></div>
	<div class="box-left">
        <div class="entry-edit">
            <div class="entry-edit-head">
                <h4><?php echo Mage::helper('sales')->__('Erp Info') ?></h4>
            </div>

            <fieldset>

            <?php foreach ($this->getErpInfo() as $key=>$value): ?>
                <strong><?php echo Mage::helper('corbeta_pedidos')->getLabel($key) ?></strong> <span style="font-size:8px;">(<?php echo $key ?>)</span>:
            <span><?php echo $value ?></span></br>
            
            <?php endforeach; ?>
            </fieldset>	
        </div>
    </div>
    <div class="box-right">
        <div class="entry-edit">
            <div class="entry-edit-head">
                <h4><?php echo Mage::helper('sales')->__('Erp Estado') ?></h4>
            </div>

            <fieldset>

            <?php foreach ($this->getErpEstado() as $key=>$value): ?>
             <strong><?php echo Mage::helper('corbeta_pedidos')->getLabel($key) ?></strong> <span style="font-size:8px;">(<?php echo $key ?>)</span>:
            <span><?php echo $value ?></span></br>
            
            <?php endforeach; ?>
            </fieldset>	
        </div>
    </div>