
<script type="text/javascript">
//<![CDATA[
    function convertirClientes() {
        var elem = $('<?php echo $this->getHtmlId() ?>');

        params = {
            
        };

        new Ajax.Request('<?php echo $this->getAjaxUrl() ?>', {
            parameters: params,
            onSuccess: function(response) {
                result = '<?php echo $this->__('Error en el proceso') ?>';
                try {
                    response = response.responseText;
                    if (response == 1) {
                        result = '<?php echo $this->__('Se ejecuto el proceso correctamente') ?>';
                        elem.removeClassName('fail').addClassName('success')
                    } else {
                        elem.removeClassName('success').addClassName('fail')
                    }
                } catch (e) {
                    elem.removeClassName('success').addClassName('fail')
                }
                $('convert_result').update(result);
            }
        });
    }
//]]>
</script>
<button onclick="javascript:convertirClientes(); return false;" class="scalable" type="button" id="<?php echo $this->getHtmlId() ?>">
    <span id="convert_result"><?php echo $this->escapeHtml($this->getButtonLabel()) ?></span>
</button>
