div.chweb-filter dd a {padding:0px 5px 0px 0px; display:block; float: left;} 

/*categories*/
div.chweb-filter span.adj-nav-category-current {font-weight: bold; padding-left: 5px;} 
div.chweb-filter a.adj-nav-pad2 {padding-left:5px}
div.chweb-filter a.adj-nav-pad3 {padding-left:10px}

/*price ranges*/
div.chweb-filter a.adj-nav-price {}
div.chweb-filter a.adj-nav-price-selected {font-weight: bold}

/*attributes*/
div.chweb-filter a.chweb_layered_attribute { padding:0 0 0 25px; background:transparent url(../../images/chweb/Check-Box.png) no-repeat scroll 0px 3px; line-height: 19px; color: #8b8b8b;}
div.chweb-filter a.chweb_layered_attribute_selected {padding-left:25px; /*border:dotted;*/ background-position: 0px -16px; font-weight: bold; overflow:hidden;}
div.chweb-filter a.chweb_layered_swatches {padding:0px 0px 5px 0px;}
div.chweb-filter a.chweb_layered_swatches_selected {opacity:0.5}

div.chweb-filter a.chweb_layered_disabled {color:gray; cursor:wait}
div.chweb-filter input.chweb_layered_disabled {background-color:gray; border:1px solid gray; cursor:wait}

div.chweb-filter a.chweb_layered_clear {float: right; cursor:pointer; display: none;} 

div.price_slider { position:relative; z-index:9; height:28px; margin:0 auto 5px auto; background:url(../../images/chweb/blue_bar.jpg) no-repeat 50% 50%; cursor:pointer; max-width: 220px;}
div.price_slider div.handle { top:3px; width:14px; height:23px; background: transparent url(../../images/chweb/slider_button-c.png) no-repeat; cursor:move; position: absolute; }


#adj-nav-container, div.adj-nav {position:relative}

.chweb_loading_filters{
   
    opacity: 0.4;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);  
    background: none repeat scroll 0 0 rgba(0,0,0,0);
    box-sizing: content-box;
    color: #d85909;
    font-weight: bold;
    left: 50%;
    margin-left: -120px;
    padding: 15px 60px;
    position: fixed;
    text-align: center;
    top: 45%;
    width: 115px;
    height:9%;
    z-index: 20100;
}

.chweb_loading_filters img{
	left:48%;
	display:block;
	position:fixed;
	z-index:900;
}

.layered-nav div.chweb_layered_clear_all {
    margin:0;
    border:1px solid #b9ccdd;
    border-left:0;
    border-right:0;
    padding:3px 10px;
    color:#1f5070;
    font-weight:bold;
    font-size:1em;
    text-align:center;
} 


.chweb-filter dt{ cursor:pointer; text-transform: uppercase; color: #304387; border-bottom: 1px solid #8b8b8b; margin-top: 20px; font-weight: bold;}
.chweb-filter dt.chweb_layered_dt_selected{}

div.chweb-filter dd li{overflow:hidden;}


.color { width:150px; clear:both; margin:6px 0 6px 0; }

.color .color_box { width:17px; height:17px; float:left; display:block; margin-right:4px; }

.color a { font-family:Arial; font-size:12px; color:#333; text-decoration:none; }

.color a:hover { color:#09F; text-decoration:none; }

.color span { font-family:Arial; font-size:11px; color:#999; }

#price_range_fromprice {float: left; font-size: 10px;}
#price_range_toprice {float: right; font-size: 10px;}

.chweb_layered_clear_all a {color: #acacac; font-size: 12px;}


@media only screen and (max-width: 770px) {
    #chweb_layered_price {max-width: 320px;}
}
