

<div class="entry-edit">
    <div class="entry-edit-head"><h4 class="icon-head head-customer-view"><?php echo Mage::helper('customer')->__('Informacion Erp') ?></h4></div>
    <fieldset>
        <table cellspacing="2" class="box-left">
			<tr>
                <td><strong><?php echo $this->__('SETID:') ?></strong></td>
                <td><?php echo $this->getCustomer()->getSetid() ?> </td>
            </tr>
			<tr>
                <td><strong><?php echo $this->__('BUSINESS_UNIT:') ?></strong></td>
                <td><?php echo $this->getCustomer()->getBusinessUnit() ?> </td>
            </tr>
			
			<tr>
                <td><strong><?php echo $this->__('TIPO_IDENTIFICAC:') ?></strong></td>
                <td><?php echo $this->getCustomer()->getTipoIdentificac() ?> </td>
            </tr>
			<tr>
                <td><strong><?php echo $this->__('CUSTOMER_TYPE:') ?></strong></td>
                <td><?php echo $this->getCustomer()->getCustomerType() ?> </td>
            </tr>
			<tr>
                <td><strong><?php echo $this->__('CUSTOMER_GROUP:') ?></strong></td>
                <td><?php echo $this->getCustomer()->getCustomerGroup() ?> </td>
            </tr>
			<tr>
                <td><strong><?php echo $this->__('CUS_CR_AVAILABLE:') ?></strong></td>
                <td><?php echo $this->getCustomer()->getCusCrAvailable() ?> </td>
            </tr>
			<tr>
                <td><strong><?php echo $this->__('CUPO_DIS:') ?></strong></td>
                <td><?php echo $this->getCustomer()->getCupoDis() ?> </td>
            </tr>
			<tr>
                <td><strong><?php echo $this->__('HOLD_CD:') ?></strong></td>
                <td><?php echo $this->getCustomer()->getHoldCd() ?> </td>
            </tr>
			<tr>
                <td><strong><?php echo $this->__('CUS_ID:') ?></strong></td>
                <td><?php echo $this->getCustomer()->getCusId() ?> </td>
            </tr>
			<tr>
                <td><strong><?php echo $this->__('ZONAS:') ?></strong></td>
                <td><?php echo $this->getCustomer()->getSupportTeamCd() ?> </td>
            </tr>
			<tr>
                <td><strong><?php echo $this->__('CATALOGOS:') ?></strong></td>
                <td><?php echo $this->getCustomer()->getCatalogNbr() ?> </td>
            </tr>
        </table>
    </fieldset>
</div>

