<?php 
/**
 * Corbeta_Noticias extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Corbeta
 * @package        Corbeta_Noticias
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Noticia list template
 *
 * @category    Corbeta
 * @package     Corbeta_Noticias
 * @author      Ultimate Module Creator
 */
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_noticias = $this->getNoticias(); ?>
<?php $_principal = $this->getPrincipal(); ?>
<?php $_secundaria = $this->getSecundaria(); ?>
<?php $_pager = $this->getChild('pager'); ?>

<div class="page-title noticia-title">
    <h1><?php echo Mage::helper('corbeta_noticias')->__('Noticias') ?></h1>
</div>

<?php if ($_pager->isFirstPage() && $_principal->getSize() > 0) :?>
    <div class="noticia-principal-list-container">
    <?php foreach ($_principal as $_noticia) : ?>
        <div class="noticia-list-item">
            <div class="noticia-imagen">
                <?php if ($_noticia->getImagen()) :?>
                <img src="<?php echo Mage::helper('corbeta_noticias/noticia_image')->init($_noticia, 'imagen')->resize(400);?>" alt="<?php echo $this->escapeHtml($_noticia->getTitulo());?>" />
                <?php endif;?>
				
            </div>
            <h2><?php echo $_noticia->getTitulo();?></h2>
			<?php
			$date = strtotime($_noticia->getFecha());
			//$date = date('d \d\e F \d\e Y', $date);
			$date = date('d-m-Y 12:00:00', $date);
			?>
			<span class="date"><?php echo Mage::helper('core')->formatDate($date, 'long', false);?></span>
			<?php
			$max = 1250;
			$descripcion = $_noticia->getDescripcion();
			if(strlen($descripcion)>$max){
				$pos = stripos($descripcion," ",$max);
				if($pos){
					$descripcion = substr($descripcion,0,$pos);
					$descripcion.="...";
				}
				
			}
			?>
            <div class="descr"><?php echo $descripcion?></div>
			
			
            <a href="<?php echo $_noticia->getLink()?$_noticia->getLink():$_noticia->getNoticiaUrl()?>">
            <?php echo $_noticia->getBotonTitulo();?>    
            </a>
            
        </div>
    <?php endforeach;?>
    </div>
<?php endif;?>

<?php if ($_pager->isFirstPage() && $_secundaria->getSize() > 0) :?>
    <div class="noticia-secundaria-list-container">
    <?php foreach ($_secundaria as $_noticia) : ?>
        <div class="noticia-list-item">
            <div class="noticia-imagen">
                <?php if ($_noticia->getImagen()) :?>
                <img src="<?php echo Mage::helper('corbeta_noticias/noticia_image')->init($_noticia, 'imagen')->resize(400);?>" alt="<?php echo $this->escapeHtml($_noticia->getTitulo());?>" />
                <?php endif;?>

            </div>
            <h2><?php echo $_noticia->getTitulo();?></h2>
			<?php
			$date = strtotime($_noticia->getFecha());
			//$date = date('d \d\e F \d\e Y', $date);
			$date = date('d-m-Y 12:00:00', $date);
			?>
			<span class="date"><?php echo Mage::helper('core')->formatDate($date, 'long', false);?></span>

			<?php
			$max = 250;
			$descripcion = $_noticia->getDescripcion();
			if(strlen($descripcion)>$max){
				$pos = stripos($descripcion," ",$max);
				if($pos){
					$descripcion = substr($descripcion,0,$pos);
					$descripcion.="...";
				}
				
			}
			?>
            
            <div class="descr"><?php echo $descripcion ?></div>
            <a href="<?php echo $_noticia->getNoticiaUrl()?>">
            <?php echo $_noticia->getBotonTitulo();?>    
            </a><br />
            
        </div>
    <?php endforeach;?>
    </div>
<?php endif;?>


<?php if ($_noticias->getSize() > 0) :?>
    <div class="noticia-list-container">
    <?php foreach ($_noticias as $_noticia) : ?>
        <div class="noticia-list-item">
            <div class="noticia-imagen">
                <?php if ($_noticia->getImagen()) :?>
                <img src="<?php echo Mage::helper('corbeta_noticias/noticia_image')->init($_noticia, 'imagen')->resize(400);?>" alt="<?php echo $this->escapeHtml($_noticia->getTitulo());?>" />
                <?php endif;?>

            </div>
            <h2><?php echo $_noticia->getTitulo();?></h2>
			<?php
			$date = strtotime($_noticia->getFecha());
			//$date = date('d \d\e F \d\e Y', $date);
			$date = date('d-m-Y 12:00:00', $date);
			?>
			<span class="date"><?php echo Mage::helper('core')->formatDate($date, 'long', false);?></span>
			
			<?php
			$max = 250;
			$descripcion = $_noticia->getDescripcion();
			if(strlen($descripcion)>$max){
				$pos = stripos($descripcion," ",$max);
				if($pos){
					$descripcion = substr($descripcion,0,$pos);
					$descripcion.="...";
				}
				
			}
			?>
            
            <div class="descr"><?php echo $descripcion ?></div>
            <a href="<?php echo $_noticia->getNoticiaUrl()?>">
            <?php echo $_noticia->getBotonTitulo();?>    
            </a><br />
            
        </div>
    <?php endforeach;?>
    </div>
    <?php echo $this->getPagerHtml(); ?>
<?php else : ?>
    <?php echo Mage::helper('corbeta_noticias')->__('There are no noticias at this moment');?>
<?php endif;?>
