<?php
/**
 * Corbeta_Noticias extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Corbeta
 * @package        Corbeta_Noticias
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Noticia view template
 *
 * @category    Corbeta
 * @package     Corbeta_Noticias
 * @author      Ultimate Module Creator
 */
?>
<?php $_noticia = $this->getCurrentNoticia();?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="noticia-view">
    <div class="page-title noticia-title">
        <h1><?php echo $_noticia->getTitulo(); ?></h1>
    </div>
    <div class="noticia-fecha">
		<?php
			$date = strtotime($_noticia->getFecha());
			//$date = date('d \d\e F \d\e Y', $date);
			$date = date('d-m-Y 12:00:00', $date);
		?>
        <?php echo Mage::helper('corbeta_noticias')->__("");?> <?php echo Mage::helper('core')->formatDate($date, 'full');?>
    </div>

    <div class="noticia-imagen">
        <?php if ($_noticia->getImagen()) :?>
    <img src="<?php echo Mage::helper('corbeta_noticias/noticia_image')->init($_noticia, 'imagen')->resize(400);?>" alt="<?php echo $this->escapeHtml($_noticia->getTitulo());?>" />
    <?php /* ?><div class="noticia-titulo">
        <?php echo Mage::helper('corbeta_noticias')->__('Titulo');?>:<?php echo $_noticia->getTitulo();?>

    </div><?php */ ?>
    
        <?php echo Mage::helper('corbeta_noticias')->__('');?><?php echo $_noticia->getDescripcion();?>

    
    <?php /* ?><div class="noticia-boton_titulo">
        <?php echo Mage::helper('corbeta_noticias')->__('Titulo Boton');?>:<?php echo $_noticia->getBotonTitulo();?>

    </div>
    <div class="noticia-link">
        <?php echo Mage::helper('corbeta_noticias')->__('Link');?>:<?php echo $_noticia->getLink();?>
    </div><?php */ ?>
    
    
    
<?php endif;?>

    </div>
    <a href="#" onclick="goBack();return false;">Volver</a>

    <script>
    function goBack() {
        window.history.go(-1);
    }
    </script>
    <div class="noticia-principal">
        <?php /* ?><?php echo Mage::helper('corbeta_noticias')->__("Principal");?>:<?php echo ($_noticia->getPrincipal() == 1) ? Mage::helper('corbeta_noticias')->__('Yes') : Mage::helper('corbeta_noticias')->__('No') ?><?php */ ?>

    </div>
    <div class="noticia-secundaria">
        <?php /* ?><?php echo Mage::helper('corbeta_noticias')->__("Secundaria");?>:<?php echo ($_noticia->getSecundaria() == 1) ? Mage::helper('corbeta_noticias')->__('Yes') : Mage::helper('corbeta_noticias')->__('No') ?><?php */ ?>

    </div>
    <div class="noticia-orden">
        <?php /* ?><?php echo Mage::helper('corbeta_noticias')->__('Orden');?>:<?php echo $_noticia->getOrden();?><?php */ ?>

    </div>

</div>
