<div class="banner-lateral">
<?php if($this->getLink()): ?>
<a href="<?php echo $this->getLink() ?>">
<?php endif; ?>
<img  src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$this->getImage() ?>" alt="" />
<?php if($this->getLink()): ?>
</a>
<?php endif; ?>
</div>