<?php 
$_productCollection = $this->getProductCollection();
$_helper = $this->helper('catalog/output'); 
?>


<?php 
	$category = Mage::registry('current_category');
	$productos = array();
	if($category){
		$n = 0;
		foreach ($_productCollection as $_product){
			$cats = $_product->getCategoryIds();
			if(in_array($category->getId(), $cats)){
				$productos[] = $_product;
				$n++;
			}
			if($n>7){
				break;
			}
		}
	}else{
		$productos = $_productCollection;
	}
?>

<?php if(count($productos)): ?>
<div class="masvendidos">
	<h5 class="title">LO MÁS VENDIDO</h5>

<ul>

<?php foreach ($productos as $_product): ?>
<li>
	<a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
		<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(65); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
	 </a>
	 <div class="info">
	<a class="product-name" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><p><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></p></a>
	<?php if(!$_product->canConfigure() && $_product->isSaleable()): ?>
		<?php echo $this->getPriceHtml($_product, true) ?>
		<?php $productpopupurl = Mage::getBaseUrl()."productpopup/index/index/id/".$_product->getId() ?>
		 <a class="cart" title="<?php echo $this->__('Add to Cart') ?>" onclick="getproductpopup('<?php echo $productpopupurl ?>')"><p><?php echo $this->__('Add to Cart') ?></p></a>
	
	<?php elseif (!Mage::getSingleton('customer/session')->isLoggedIn()): ?>

		<a title="<?php echo $this->__('AGREGAR A CARRITO') ?>" 
			class="cart" title="<?php echo $this->__('Add to Cart') ?>" onclick="getregisterpopup();return false;">
			<p><?php echo $this->__('Add to Cart') ?></p>
		</a>
	<?php else: ?>
<div style="" class="message-product message-product-<?php echo $_product->getId() ?>" id="message-product-<?php echo $_product->getId() ?>"></div>
<a title="<?php echo $this->__('AGREGAR A CARRITO') ?>" 
			class="cart" title="<?php echo $this->__('Add to Cart') ?>" onclick="notallowedproductpopup('message-product-<?php echo $_product->getId() ?>');return false;">
			<p><?php echo $this->__('Add to Cart') ?></p>
		</a>
	<?php endif; ?>
	
	
	</div>
</li>
<?php endforeach; ?>
</ul>
</div>
<?php endif; ?>