<?php $fullCurrentCategory = Mage::getModel('catalog/category')->load($this->getCurrentCategory()->getId()); ?>
<div class="page-title category-title">
		<h1 style="color:rgb(<?php echo $fullCurrentCategory->getCategoryColor(); ?>)">
		<?php if($fullCurrentCategory->getCategoryIcon()): ?>
			<?php $categoryIcon = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'catalog/category/'.$fullCurrentCategory->getCategoryIcon(); ?>
			<img src="<?php echo $categoryIcon ?> "/>
		<?php endif; ?>
        <?php echo $this->getCurrentCategory()->getName() ?></h1>
</div>
<?php $_categories = $this->getCurrentCategory()->getChildrenCategories() ?>
<?php if($_categories && count($_categories)): ?>
	<div class="subcategories">
	<?php foreach($_categories as $_category): ?>
		<div class="subcategory">
		<?php $category = Mage::getModel('catalog/category')->load($_category->getId()); ?>
		<?php $_thumbnail = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'catalog/category/'.$category->getThumbnail(); ?>
			<a href="<?php echo $category->getUrl() ?>">
				<img src="<?php echo $_thumbnail ?>" title="<?php echo $_category->getName() ?>"/>
				<div class="over-cat"></div>
				<h2><?php echo $_category->getName() ?></h2>
			</a>
		</div>
	<?php endforeach; ?>
	</div>
<?php endif; ?>