<div class="acordeon">

	<?php if($this->getTitle()): ?>
	<h4 class="tab"><?php echo $this->getTitle() ?> </h4>
	<?php endif; ?>

	<?php if($this->getBlockId()): ?>
	<div class="content">		
		<?php echo $this->getText(); ?>
	</div>
	<?php endif; ?>
</div>