<div id="slider-home" class="banner-slider" style="background-color:rgba(<?php echo $this->getBackground() ?>,1);">
<div class="sub">
<?php if($this->getLink()): ?>
<a href="<?php echo $this->getLink() ?>">
<?php endif; ?>
<img id="<?php echo str_replace(' ','',$this->getTitle()) ?>" title="<?php echo $this->getTitle() ?>" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$this->getImage() ?>" alt="" />
<?php if($this->getLink()): ?>
</a>
<?php endif; ?>
</div>
<?php if($this->getTitle() || $this->getDescription()): ?>
<div class="banner-right">
		<?php if($this->getTitle()): 
			$max = 60;
			$title = $this->getTitle();
			if(strlen($title)>$max){
				$pos = stripos($title," ",$max);
				if($pos){
					$title = substr($title,0,$pos);
				}
				
			}
		?>
		
		<h3><?php echo $title; ?></h3>
		<?php endif; ?>
		<?php if($this->getDescription()): 
			$max = 168;
			$descripcion = $this->getDescription();
			if(strlen($descripcion)>$max){
				$pos = stripos($descripcion," ",$max);
				if($pos){
					$descripcion = substr($descripcion,0,$pos);
				}
				
			}
		?>
		<p><?php echo $descripcion; ?></p>
		<?php endif; ?>
		
</div>
<?php if($this->getLink()): ?>
		<a class="more" href="<?php echo $this->getLink() ?>">Más Información</a>
		<?php endif; ?>
<?php endif; ?>
</div>
