<div class="banner-texto">
	<?php if($this->getTitle()): ?>
	<div class="title"><?php echo $this->getTitle() ?> </div>
	<?php endif; ?>
	<div class="bloque">
		<img id="<?php echo str_replace(' ','',$this->getTitle()) ?>" title="<?php echo $this->getTitle() ?>" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$this->getImage() ?>" alt="" />

		<?php if($this->getDescription()): ?>
		<p><?php echo $this->getDescription() ?> </p>
		<?php endif; ?>
	</div>
</div>