<div class="mapa">

	<?php if($this->getTitle()): ?>
	<div class="title"><?php echo $this->getTitle() ?> </div>
	<?php endif; ?>

	<div class="submapa">
		
		<?php $mapid = str_replace(' ','',$this->getTitle());?>
		<?php if($this->getCoordenadas()): ?>
	
	  <div class="mapa-cont" style="width:50%;height:250px;" id="map_<?php echo $mapid ?>">      
	  </div>
	
	<script>
	  var gmap_<?php echo $mapid ?>;
	  function initialize_<?php echo $mapid ?>() {
	 
	      if(jQuery.isEmptyObject(gmap_<?php echo $mapid ?>)){
	    
		var myLatlng_<?php echo $mapid ?> = new google.maps.LatLng(<?php echo $this->getCoordenadas() ?>);
		var mapOptions_<?php echo $mapid ?> = {
		  zoom: 16,
		  center: myLatlng_<?php echo $mapid ?>
		}
		gmap_<?php echo $mapid ?> = new google.maps.Map(document.getElementById('map_<?php echo $mapid ?>'), mapOptions_<?php echo $mapid ?>);

		var marker_<?php echo $mapid ?> = new google.maps.Marker({
		    position: myLatlng_<?php echo $mapid ?>,
		    map: gmap_<?php echo $mapid ?>,
		    title: 'Hello World!'
		});
		
	      }
	    
	      
	  }
      google.maps.event.addDomListener(window, 'load', initialize_<?php echo $mapid ?>);

      </script>
	<?php endif; ?>
		
		
		<?php if($this->getDescription()): ?>
		<p class="datos"><?php echo $this->getDescription() ?></p>
		<?php endif; ?>

		
	</div>

</div>