<div class="bloques">
	<?php if($this->getTitle()): ?>
	<div class="title"><?php echo $this->getTitle() ?> </div>
	<?php endif; ?>

	<div class="subbloques">
		<div class="l column">
			<img id="<?php echo str_replace(' ','',$this->getTitle()) ?>" title="<?php echo $this->getTitle() ?>" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$this->getImage1() ?>" alt="" />

			<?php if($this->getDescription1()): ?>
			<p><?php echo $this->getDescription1() ?> </p>
			<?php endif; ?>

			<?php if($this->getLink1()): ?>
			<a href="<?php echo $this->getLink1() ?>" target="_self"><?php echo $this->getButton1() ?></a>
			<?php endif; ?>
		</div>

		<div class="c column">
			<img id="<?php echo str_replace(' ','',$this->getTitle()) ?>" title="<?php echo $this->getTitle() ?>" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$this->getImage2() ?>" alt="" />

			<?php if($this->getDescription2()): ?>
			<p><?php echo $this->getDescription2() ?> </p>
			<?php endif; ?>

			<?php if($this->getLink2()): ?>
			<a href="<?php echo $this->getLink2() ?>" target="_self"><?php echo $this->getButton2() ?></a>
			<?php endif; ?>
		</div>
		<div class="r column">
			<img id="<?php echo str_replace(' ','',$this->getTitle()) ?>" title="<?php echo $this->getTitle() ?>" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$this->getImage3() ?>" alt="" />

			<?php if($this->getDescription3()): ?>
			<p><?php echo $this->getDescription3() ?> </p>
			<?php endif; ?>

			<?php if($this->getLink3()): ?>
			<a href="<?php echo $this->getLink3() ?>" target="_self"><?php echo $this->getButton3() ?></a>
			<?php endif; ?>
		</div>
		<div class="buttons-down">		
			<div>
				<?php if($this->getLink1()): ?>
				<a href="<?php echo $this->getLink1() ?>" target="_self"><?php echo $this->getButton1() ?></a>
				<?php endif; ?>
			</div>
			<div>
				<?php if($this->getLink2()): ?>
				<a href="<?php echo $this->getLink2() ?>" target="_self"><?php echo $this->getButton2() ?></a>
				<?php endif; ?>
			</div>
			<div>
				<?php if($this->getLink3()): ?>
				<a href="<?php echo $this->getLink3() ?>" target="_self"><?php echo $this->getButton3() ?></a>
				<?php endif; ?>
			</div>
		</div>
	</div>
</div>