<p id="h3" onclick="menusub()">Nuestra Empresa</p>
<div id="desmenu"><?php echo $this->getHtml(); ?></div>
<script type="text/javascript">
                    function menusub(){
                        var obj = document.getElementById('desmenu')
                        var objh = document.getElementById('h3')
                            if(obj.style.display == 'block') 
                                obj.style.display = 'none',
                                objh.className = ''
                            else obj.style.display = 'block',
                                objh.className = 'minus'
                            }
               </script>