<div class="my-account">
    <div class="page-title">
        <h2><?php echo $this->__('Mi cartera') ?></h2>
    </div>
	<div class="">
        Estado: 
    </div>
    <?php if($this->getCustomer()->getCupoDis()<=0 && $this->getCustomer()->getCusCrAvailable()<=0): ?>
        <div>Recuerda que eres un Cliente de Contado</div>
    <?php else: ?>
	<div>
        Cupo Total Disponible:  <?php 	echo Mage::helper('checkout')->formatPrice($this->getCustomer()->getCupoDis()); ?></br>
    </div>
    <div>
        Credito Disponible:  <?php   echo Mage::helper('checkout')->formatPrice($this->getCustomer()->getCusCrAvailable()); ?></br>
    </div>
    <?php endif; ?>
    <div class="buttons-set">
		<p class="back-link" style="font-weight: bold;">Si tienes dudas sobre tu estado de cartera o tu cupo disponible, comunícate con tu representante de ventas.</p>
	</div>
</div>
