<?php
	$homeCategoryId = 337;
	$homeCategory = Mage::getModel('catalog/category')->load($homeCategoryId);
	$categories = $homeCategory->getChildrenCategories();
    $_helper = $this->helper('catalog/output');
	$speed = 0;
	$maxitems = 4;
	$width = 234;
	
?>

<div class="destacados">	

<?php foreach($categories as $currentCategory): ?>	
	
	<div class="category">	
		<div class="category-header">
			<?php $fullCurrentCategory = Mage::getModel('catalog/category')->load($currentCategory->getId()); ?>
			<h1 style="color:rgb(<?php echo $fullCurrentCategory->getCategoryColor(); ?>)">
				<?php if($fullCurrentCategory->getCategoryIcon()): ?>
					<?php $categoryIcon = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'catalog/category/'.$fullCurrentCategory->getCategoryIcon(); ?>

					<img src="<?php echo $categoryIcon ?> " alt="<?php echo $currentCategory->getName(); ?>" />
				<?php endif; ?>
				<?php echo $currentCategory->getName(); ?>
			</h1>
			<div class="subcategories">
				<ul>
				<?php $subcategories = $currentCategory->getChildrenCategories(); ?>
				<?php unset($currentSubcategory); ?>
				<?php foreach($subcategories as $subcategory): ?>
						<li>
						<a <?php echo isset($currentSubcategory)?'class="disabled"':'class="enabled"'; ?>
						style = "background-color:rgb(<?php echo $fullCurrentCategory->getCategoryColor() ?>)"
						onmouseover="subcatbuttonover(this)" 
						onmouseout="subcatbuttonout(this)"
						href="#" onclick="changeSubcategory(this,<?php echo $subcategory->getId()?>);return false;"><?php echo $subcategory->getName();?></a>
						</li>
				<?php if (!isset($currentSubcategory))$currentSubcategory=$subcategory; ?>
				<?php endforeach; ?>
				</ul>
			</div>
		</div>
		
		
		<div class="category_body">
		<?php foreach($subcategories as $subcategory): ?>
		<div class="acordion-nav">
		<a <?php echo ($subcategory->getId()==$currentSubcategory->getId())?'class="open enabled"':'class="closed disabled"'; ?>
			style = "background-color:rgb(<?php echo $fullCurrentCategory->getCategoryColor() ?>)"
			onmouseover="subcatbuttonover(this)" 
			onmouseout="subcatbuttonout(this)"
			href="#" onclick="openSubcategory(this,<?php echo $subcategory->getId()?>);return false;"><?php echo $subcategory->getName();?></a>
			
		</div>	
						
		<?php $this->setCategoryId($subcategory->getId()); ?>
		<?php $_productCollection=$this->getLoadedProductCollection(); ?>
		
		<div <?php if($subcategory->getId()!=$currentSubcategory->getId())echo 'style="display:none;"'?> class="category-container" id="categorycontainer-<?php echo $subcategory->getId() ?>">
		
	<?php if(!$_productCollection->count()): ?>
		<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
	<?php else: ?>
		<div class="category-products">
			
			<?php $_collectionSize = $_productCollection->count() ?>
			<?php $_columnCount = $this->getColumnCount(); ?>
			<?php $row_id = "category_row_".$subcategory->getId();?>
			<ul id="<?php echo $row_id ?>" class="products-grid carruseldestacados">
				<?php $i=0; foreach ($_productCollection as $_product): ?>
				   
					<li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
						<?php $productpopupurl = Mage::getBaseUrl()."productpopup/index/index/id/".$_product->getId() ?>
						<a  href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
							<?php $_imgSize = 220; ?>
							<img id="product-collection-image-<?php echo $_product->getId(); ?>"
								 src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_imgSize); ?>"
								 alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
							<?php 
								$_fullproduct = Mage::getModel('catalog/product')->load($_product->getId()); 
								$isNew = false; 
								$destacado = $_fullproduct->getData('destacado');
								$descuento = $_fullproduct->getData('descuento');
							?>
							<div onmouseover="this.style.backgroundColor='rgba(<?php echo $fullCurrentCategory->getCategoryColor(); ?>,0.5)'" 
						onmouseout="this.style.backgroundColor=''" style="width:100%;height:100%;position:absolute;top:0;z-index: 100;"></div>
							<?php if($isNew): ?>
							<div class="nuevo" style="background-color:rgb(<?php echo $fullCurrentCategory->getCategoryColor(); ?>)">NUEVO</div>
							<?php elseif($destacado): ?>
							<div class="destacado" style="background-color:rgb(<?php echo $fullCurrentCategory->getCategoryColor(); ?>)"><?php echo $destacado ?></div>
							<?php endif; ?>
							<?php if($descuento): ?>
							<div class="descuento" style="background-color:rgb(<?php echo $fullCurrentCategory->getCategoryColor(); ?>)"><?php echo $descuento ?></div>
							<?php endif; ?>
						</a>
						<div class="product-info">
							<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
							<?php
							// Provides extra blocks on which to hang some features for products in the list
							// Features providing UI elements targeting this block will display directly below the product name
							if ($this->getChild('name.after')) {
								$_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
								foreach ($_nameAfterChildren as $_nameAfterChildName) {
									$_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
									$_nameAfterChild->setProduct($_product);
									echo $_nameAfterChild->toHtml();
								}
							}
							?>
							<?php if(!$_product->canConfigure() && $_product->isSaleable()): ?>
							<?php echo $this->getPriceHtml($_product, true) ?>
							<?php endif; ?>
							<?php if($_product->getRatingSummary()): ?>
							<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
							<?php endif; ?>
							<div style="" class="message-product message-product-<?php echo $_product->getId() ?>" id="message-product-<?php echo $_product->getId() ?>"></div>
							<div class="actions">
							<?php
$categorycolor = $fullCurrentCategory->getCategoryColor();
$ccRGB = explode(',',$categorycolor);
$categorycolorborde = ($ccRGB[0]-20).",".($ccRGB[1]-20).",".($ccRGB[2]-20);
								?>
								<?php if(!$_product->canConfigure() && $_product->isSaleable()): ?>
								
									<button onmouseover="this.style.backgroundColor='rgb(<?php echo $fullCurrentCategory->getCategoryColor(); ?>)',
this.style.borderBottom='2px solid rgb(<?php echo $categorycolorborde ?>)'"
						onmouseout="this.style.backgroundColor='',this.style.borderBottom=''" type="button" title="<?php echo $this->__('AGREGAR A CARRITO') ?>" class="button btn-cart" onclick="getproductpopup('<?php echo $productpopupurl ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
						
								<?php /*elseif($_product->getStockItem() && $_product->getStockItem()->getIsInStock()): ?>
									<a title="<?php echo $this->__('View Details') ?>" class="button" href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('View Details') ?></a>
								<?php else: ?>
									<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
								<?php */else: ?>
								<?php if (!$this->helper('customer')->isLoggedIn() ): ?>
								<button onmouseover="this.style.backgroundColor='rgb(<?php echo $fullCurrentCategory->getCategoryColor(); ?>)',
this.style.borderBottom='2px solid rgb(<?php echo $categorycolorborde ?>)'"
						onmouseout="this.style.backgroundColor='',this.style.borderBottom=''" type="button" title="<?php echo $this->__('AGREGAR A CARRITO') ?>" class="button btn-cart" 
						onclick="getregisterpopup();return false;"
						<?php /* ?>onclick="location.replace('<?php echo Mage::getUrl('customer/account/login');?>');"><?php */ ?>
						><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
								<?php else: ?>
								
								<button onmouseover="this.style.backgroundColor='rgb(<?php echo $fullCurrentCategory->getCategoryColor(); ?>)',
this.style.borderBottom='2px solid rgb(<?php echo $categorycolorborde ?>)'"
						onmouseout="this.style.backgroundColor='',this.style.borderBottom=''" type="button" title="<?php echo $this->__('AGREGAR A CARRITO') ?>" class="button btn-cart" 
						onclick="notallowedproductpopup('message-product-<?php echo $_product->getId() ?>');return false;"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
								<?php endif; ?>
								<?php endif; ?>
								
							</div>
						</div>
					</li>
				   
				<?php endforeach ?>
			</ul>
			

		</div>
		<script type='text/javascript'>new CarruselDestacados(<?php echo "'$row_id',$speed,$maxitems,$width,80" ?>);</script>
	<?php endif; ?>
	</div>
	<?php endforeach; ?>
	
		</div>
	</div>
<?php endforeach ?>
</div>
<script type='text/javascript'>
	function changeSubcategory(element,id){
		//element.setStyle({backgroundColor:"#000"});
		$(element).up('ul').childElements().each(function(child){
			child.down('a').addClassName('disabled');
			child.down('a').removeClassName('enabled');
		});
		element.removeClassName('disabled');
		element.addClassName('enabled');
		
		childs = $('categorycontainer-'+id).up('.category_body').select('.category-container');
		
		$A(childs).each(function(child){
			child.hide();
		});
		$('categorycontainer-'+id).show();
	}
	function openSubcategory(element,id){
		if(element.hasClassName('open')){
			element.removeClassName('open');
			element.removeClassName('enabled');
			element.addClassName('closed');
			//element.addClassName('disabled');
			$('categorycontainer-'+id).removeClassName('containeropen');
			$('categorycontainer-'+id).addClassName('containerclosed');
		}else{
			element.addClassName('open');
			element.addClassName('enabled');
			element.removeClassName('closed');
			element.removeClassName('disabled');
			$('categorycontainer-'+id).addClassName('containeropen');
			$('categorycontainer-'+id).removeClassName('containerclosed');

		}
		
	}
	function subcatbuttonover(element){
		if(element.hasClassName('disabled')){
			element.removeClassName('disabled');
		}
	}
	function subcatbuttonout(element){
		if(!element.hasClassName('enabled')){
			element.addClassName('disabled');
		}
	}
</script>
<style>
.subcategories ul li a.enabled{color:#fff;}
.subcategories ul li a.disabled{background-color:#fff !important;}
.category_body .acordion-nav a.enabled{color:#fff;}
.category_body .acordion-nav a.disabled{background-color:#fff !important;}
</style>

