<?php if($this->getChildHtml()): ?>
<div class="carruselsb" id="slider_marcas">
<?php echo $this->getChildHtml() ?>
</div>

<?php endif; ?>

<script type='text/javascript'>
container = $("slider_marcas").up();
new CarruselStaticBlock("slider_marcas",4000,5,155,0,container);
</script>


