<div class="popup">
	<h2>Agrega el producto a tu carro de compras</h2>
	<p>Digita la cantidad que deseas comprar y haz click en <strong>AGREGAR</strong></p>
	<div class="contenido">
	<?php echo $this->getChildHtml('productpopup') ?>
	</div>
</div>

