<?
$_product = $this->getProduct();
$_imgSize = 260;
$destacado = $_product->getData('destacado');
$descuento = $_product->getData('descuento');
?>
<div class="imagen">
	<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_imgSize); ?>"
	 alt="<?php echo $this->stripTags($this->getImageLabel($__product, 'small_image'), null, true) ?>" />
	 <?php if($isNew): ?>
	<div class="nuevo">NUEVO</div>
	<?php elseif($destacado): ?>
	<div class="destacado"><?php echo $destacado ?></div>
	<?php endif; ?>
	<?php if($descuento): ?>
	<div class="descuento"><?php echo $descuento ?></div>
	<?php endif; ?>
</div>
<div class="info">
	<h3><?php echo $_product->getName(); ?></h3>
	<?php echo $this->getChildHtml('media') ?>
	<h4>EAN <?php echo $_product->getSku(); ?></h4>
	<p><?php echo $_product->getShortDescription(); ?></p>
	<form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="popupproductform-<?php echo $_product->getId(); ?>">
		<div class="qty-wrapper">
			<label for="qty"><?php echo $this->__('Qty:') ?></label>
			<input type="text" pattern="\d*" name="qty" id="qty" maxlength="4" value="1" title="1-9999" class="validate-digits-range digits-range-1-9999 qty" />
		</div>	
		<?php echo $this->getPriceHtml($_product, true) ?>
		<?php if($_product->isSaleable()): ?>
		<button type="submit" title="Agregar" class="button btn-cart"><span><span>Agregar</span></span></button>
		<?php endif; ?>
	</form>
	<script type="text/javascript">
        //<![CDATA[
            var productPopupAddToCartForm = new VarienForm('popupproductform-<?php echo $_product->getId(); ?>');
		//]]>
	</script>
</div>


