<div class="promo-secun">
	

	<?php if($this->getLink()): ?>
	<a href="<?php echo $this->getLink() ?>" target="_self">

		<img id="<?php echo str_replace(' ','',$this->getTitle()) ?>" title="<?php echo $this->getTitle() ?>" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$this->getImage() ?>" alt="" />
		
		<div class="sub">
			<?php if($this->getTitle()): ?>
			<h2><?php echo $this->getTitle() ?> </h2>
			<?php endif; ?>			

			<?php if($this->getDescription()): ?>
			<p><?php echo $this->getDescription() ?> </p>
			<?php endif; ?>
		</div>

	</a>
	<?php endif; ?>
		
</div>