<div class="promo-terc">
	<?php if($this->getLink()): ?>
	<a href="<?php echo $this->getLink() ?>" target="_self"><img id="<?php echo str_replace(' ','',$this->getTitle()) ?>" title="<?php echo $this->getTitle() ?>" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$this->getImage() ?>" alt="" /></a>
	<?php endif; ?>
		
</div>