<div class="mpromo">
    <p id="mh3" onclick="menusub4()">Promociones por categoria</p>
    <div id="desmenu4"><?php echo $this->getHtml(); ?></div>
    <script type="text/javascript">
                        function menusub4(){
                            var obj = document.getElementById('desmenu4')
                            var objh = document.getElementById('mh3')
                                if(obj.style.display == 'block') 
                                    obj.style.display = 'none',
                                    objh.className = ''
                                else obj.style.display = 'block',
                                    objh.className = 'minus'
                                }
    </script>
    <span class="title-promo">Promociones</span>

</div>