
    <form action="/pqr/index/sendform" method="post" id="form-validate" class="scaffold-form" enctype="multipart/form-data">
        <div class="fieldset">
            <input type="hidden" name="success_url" value="<?php echo $this->getUrl('pqr/index/sendform') ?>" />
            <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />
            <p class="form-instructions">Registra tu informaci&oacute;n aqu&iacute; y muy pronto nos comunicaremos contigo.</p>
            <p class="required"><?php echo $this->__('* Required Fields') ?></p>
            <ul class="form-list">
                <?php /* ?><li class="fields">
                    <?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>
                </li><?php */ ?>
                <li class="field">
                    <label for="contact_people" class="required"><em>*</em><?php echo $this->__('Nombres y Apellidos') ?></label>
                    <div class="input-box">
                        <input type="text" name="name" id="name" value="" title="<?php echo $this->__('Nombres y Apellidos') ?>" class="input-text required-entry validate-alphanum-with-spaces" <?php echo $this->helper('customer/address')->getAttributeValidationClass('contact_people') ?>" />
                    </div>
                </li>
                <li class="field">
                    <label for="comercial_name" class="required"><em>*</em><?php echo $this->__('Raz&oacute;n Social o Nombre Comercial') ?></label>
                    <div class="input-box">
                        <input type="text" name="lastname" id="lastname" value="" title="<?php echo $this->__('Nombre Comercial') ?>" class="input-text required-entry validate-alphanum-with-spaces" <?php echo $this->helper('customer/address')->getAttributeValidationClass('comercial_name') ?>" />
                    </div>
                </li>
                <li>
                        <label for="type_identification" class="required"><em>*</em><?php echo $this->__('Tipo de Identificaci&oacute;n') ?></label>
                        <div class="input-box">
                            <select type="type_identificacion" name="type_identification" id="type_identification" class="input-text required-entry validate-type_identification" title="<?php echo $this->__('Tipo de Identificacion') ?>">
                                <option></option>
                                <option value="nit">NIT</option>
                                <option value="cc">C&eacute;dula</option>
                                <option value="ce">C&eacute;dula de extranjer&iacute;a</option>
                                <option value="rut">Rut</option>
                            </select>
                        </div>
                </li>
                <li>
                        <label for="identification" class="required"><em>*</em><?php echo $this->__('N&uacute;mero de Identificaci&oacute;n (Cedula/NIT)') ?></label>
                        <div class="input-box">
                            <input type="text" name="identification" id="identification" class="input-text required-entry validate-alphanum" title="<?php echo $this->__('Identificacion') ?>" />
                        </div>
                </li>
                <li>
                    <label for="email_address" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                    <div class="input-box">
                        <input type="email" autocapitalize="off" autocorrect="off" spellcheck="false" name="email" id="email_address" class="input-text required-entry validate-email" value="<?php echo $this->escapeHtml($this->getFormData()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text validate-email required-entry" />
                    </div>
                </li>
                <li class="field">
                        <label for="telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
                        <div class="input-box">
                            <input type="tel" name="telephone" id="telephone" class="input-text required-entry validate-alphanum-with-spaces" value="<?php echo $this->escapeHtml($this->getFormData()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>" />
                        </div>
                </li>
                <li class="field">
                        <label for="cel" class="required"><em>*</em><?php echo $this->__('Celular') ?></label>
                        <div class="input-box">
                            <input type="cel" name="cel" id="cel" class="input-text required-entry validate-alphanum-with-spaces" value="<?php echo $this->escapeHtml($this->getFormData()->getTelephone()) ?>" title="<?php echo $this->__('Celular') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('cel') ?>" />
                        </div>
                </li>
                <li>
                <div>
                        <label for="city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
                        <div class="input-box">
                            <select class="validate-select" title="city" name="city" id="city">
                                <option selected="selected" value=""></option>
                                <option value="1">Arauca</option>
                                <option value="2">Armenia</option>
                                <option value="3">Barranquilla</option>
                                <option value="4">Bogotá</option>
                                <option value="5">Bucaramanga</option>
                                <option value="6">Cali</option>
                                <option value="7">Cartagena</option>
                                <option value="8">Cúcuta</option>
                                <option value="9">Florencia</option>
                                <option value="10">Ibagué</option>
                                <option value="11">Leticia</option>
                                <option value="12">Manizales</option>
                                <option value="13">Medellín</option>
                                <option value="14">Mitú</option>
                                <option value="15">Mocoa</option>
                                <option value="16">Montería</option>
                                <option value="17">Neiva</option>
                                <option value="18">Pasto</option>
                                <option value="19">Pereira</option>
                                <option value="20">Popayán</option>
                                <option value="21">Puerto Carreño</option>
                                <option value="22">Puerto Inírida</option>
                                <option value="23">Quibdó</option>
                                <option value="24">Riohacha</option>
                                <option value="25">San Andres</option>
                                <option value="26">San José del Guaviare</option>
                                <option value="27">Santa Marta</option>
                                <option value="28">Sincelejo</option>
                                <option value="29">Tunja</option>
                                <option value="30">Valledupar</option>
                                <option value="31">Villavicencio</option>
                                <option value="32">Yopal</option>
                            </select>
                        </div>
                    </div>
            </li>
                <li>
                        <label for="type_bussine" class="required"><em>*</em><?php echo $this->__('Tipo de Negocio') ?></label>
                        <div class="input-box">
                            <select type="type_bussine" name="type_bussine" id="type_bussine" class="input-text required-entry validate-type_bussine" title="<?php echo $this->__('Tipo de Negocio') ?>">
                                <option></option>
                                <option value="1">Tienda de Barrio (comestible y/o aseo)</option>
                                <option value="2">Autoservicio</option>
                                <option value="3">Mini mercado</option>
                                <option value="4">Mayorista o abarrotero</option>
                                <option value="5">Mayorista cuidado personal</option>
                                <option value="6">Droguerías</option>
                                <option value="7">Pañaleras</option>
                                <option value="8">Cacharrerías</option>
                                <option value="9">Misceláneas</option>
                                <option value="10">Almacén de Electrodomésticos</option>
                                <option value="11">Ceramiqueros</option>
                                <option value="12">Ferretero</option>
                                <option value="13">Ferre eléctrico</option>
                                <option value="14">Grifetero, Eléctrico</option>
                                <option value="15">Agropunto</option>
                                <option value="16">Depósito de materiales</option>
                                <option value="17">Pinturero</option>
                                <option value="18">Seguridad Industrial</option>
                                <option value="19">Almacenes de Motos</option>
                                <option value="20">Talleres de motos</option>
                                <option value="21">Almacenes de Repuestos (Autopartes)</option>
                                <option value="22">Talleres automóviles</option>
                                <option value="23">Talleres generales</option>
                                <option value="24">Centro de lubricación</option>
                                <option value="25">Consecionarios</option>
                                <option value="26">Estación de servicio</option>
                                <option value="27">Lavaderos</option>
                                <option value="28">Otro</option>
                            </select>
                        </div>
                </li>
                <input name="unity" id="unity"  value="Distribuciones" class="input-text" type="hidden" />
                <input name="theme" type="hidden" value="4" />
                <input name="comment" type="hidden" value="Solicitud de Registro" />
                <?php echo $this->getChildHtml('persistent.remember.me'); ?>
            </ul>
            <?php echo $this->getChildHtml('persistent.remember.me.tooltip'); ?>
        </div>
        <div class="buttons-set">            
            <button type="submit" title="<?php echo $this->__('Register') ?>" class="button"><span><span><?php echo $this->__('Register') ?></span></span></button>
        </div>
        <?php if (Mage::helper('checkout')->isContextCheckout()): ?>
            <input name="context" type="hidden" value="checkout" />
        <?php endif; ?>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var dataForm = new VarienForm('form-validate', true);
        <?php if($this->getShowAddressFields()): ?>
        new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
        <?php endif; ?>
    //]]>
    </script>
