<link rel="stylesheet" type="text/css" href="http://corbeta.disarrollo.net/skin/frontend/corbeta/default/css/registerpopup.css" media="all" />
<div class="popup">
	
	<div class="left">
	<h2>¿Ya tienes una cuenta?</h2>
	<?php echo $this->getChildHtml('registerpopup_login') ?>
	</div>
	<div class="right">
	<h2>¿No eres cliente de Corbeta SA?</h2>
	<?php echo $this->getChildHtml('registerpopup_register') ?>
	</div>
</div>

