<div class="marca">
<?php if($this->getLink()): ?>
<a href="<?php echo $this->getLink() ?>">
<?php endif; ?>
<?php $alt =  $this->getImage(); ?>
<?php $alt =  substr($alt,strrpos($alt,'/')+1); ?>
<?php $alt =  substr($alt,0,strpos($alt,'.')); ?>
<img  src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$this->getImage() ?>" alt="<?php echo $alt ?>" />
<?php if($this->getLink()): ?>
</a>
<?php endif; ?>
</div>