@media only screen and (min-width: 771px) {
#registerpopup
{
    
    position: fixed;
    height: 100%;
    top: 0;
    width: 100%;
    -ms-touch-action: none;
    touch-action: none;
    z-index: 200;
    background-color: rgba(0,0,0,0.5);
}
#popupwraper{
    background-color: #fff;
    border: 2px solid #003284;
    margin: 30px auto auto;
    padding: 10px 20px;
    width: 75%;
    border-radius: 15px;
    position:relative;
    max-height: 560px;
    overflow-y: auto;
}
#popupcontent
{
    
}
#popupcloser{
    background-color: #858585;
    border-radius: 14px;
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    line-height: 17px;
    padding: 0 6px 3px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
}
.popup .col2-set .col-2 {float: left;}
.popup .registered-users {width: 100% !important; padding: 0 !important;}
.popup h2 {color: #304387; font-size: 17px; font-weight: bold; text-transform: none;}
.popup p.form-instructions {height: 39px;}
.popup li {margin-bottom: 0 !important;}
.popup label {color: #a0a0a0;}
.popup .input-box {padding-top: 0;}
.popup .left input, .popup .right input{height: 25px; max-width: 100%!important; width: 100%!important; border-radius: 8px; padding: 0 8px;}
.popup select {height: 25px; border-radius: 8px; width: 100% !important;}
.popup .right {width: 50%; float: right; padding: 10px;}
.popup .left {width: 50%; float: left; padding: 10px;}
.popup .buttons-set {margin: 0 !important; text-align: left;}

.send-contacts{
    clear: both;
    display: block !important;
    position: absolute;
    bottom: 32px;
    width: 48%;
}

@media only screen and (max-width: 770px) {
 .popup .right, .popup .left {width: 100%;}
 #logodown{width: 100%;}
 #registerpopup {position: relative;width: 100%;}
 #popupwraper {
    position: relative; 
    border: 0 none !important; 
    border-radius: 0 !important;  
    width: 100% !important; 
    height: auto; 
    max-height: 100%; 
    max-width: 100%;}
 #popupcloser {display: none;}
 .send-contacts {position: relative; width: 100%; margin-top: 76px; overflow: hidden;}

}

@media only screen and (max-width: 500px) {
    #popupwraper .popup .imagen {width: 100%;}
    #popupwraper .popup .info {width: 100%;}
 
}
