input[type="search"]::-ms-clear{display: none;}
a:hover {text-decoration: underline;}
.someinput::-ms-clear {display: none;}
select::-ms-expand {display: none;}
.message-product {color: red; font-weight: bold;line-height: 16px; font-size: 13px;}
select:active, select:hover, select:focus, select:visited {outline:none;}
select:-webkit-autofill {background-color: #ffffff !important;}
.destacados .category-header img {width: 33px; height: 33px;float: left;margin-right: 5px;}
.nav-primary li a img {width: 33px; height: 33px;}
.footer .sub:first-child img {width: 146; height:121px; }
.page-header-container .logo img {width: 146; height:121px; }
.logi {  margin-left: 0; padding-left: 10px;background-image: url("../images/linea.jpg");
    background-position: 0 center;
    background-repeat: no-repeat;}
.nav-primary li.level0 {}
#slider-home a.more{border:1px solid white; padding: 15px; border-radius: 15px; color: white; width: auto; position: absolute; bottom: 25%; right: 21%;}
.footer a:hover {color:#857c81;}
a.skip-account:hover span {color:#857c81;}
a.skip-cart:hover span {color:#857c81;}
/*.products-grid--max-4-col > li {width: 22.333%;}*/
.category-image {padding: 0; border: 0px;}
.breadcrumbs {float: right; margin: 15px 0; font-weight: bold;}
.breadcrumbs strong {color: #182143; text-transform: none; font-weight: bold;}
.breadcrumbs li {text-transform: none;}
.breadcrumbs li a {color: #aaa;}
.breadcrumbs li span {color: #aaa;}

.toolbar {background-color: #fff; border: 0px;}
.pages li:first-child {}
.pages strong {display: block; float: left; color: #848484; font-weight: normal; padding-right: 10px;}

.pager {width: 100%; display: inline-block;}
.pages .next, .pages .previous {color:#848484; font-size: 12px; font-size: 12px; font-family: "Raleway","Helvetica Neue",Verdana,Arial,sans-serif; text-transform: none;}
.pages .next:hover, .pages .previous:hover, .pages .next:hover::before, .pages .next::before {border: 0px;}
.block-layered-nav .block-content > dl > dd:last-child {border-width: 1px;}
.block-layered-nav .block-content > dl > dd {border-radius: 5px;}
.menu-header li:nth-child(3) a {background-image: url("../images/ico-promocion.png");background-position: 126px 0px;background-repeat: no-repeat; background-size: 17px auto; padding-right: 24px;}
#slider-home {background-color: rgba(0,0,0,0);}
input[type="search"]:focus {border: 0px solid #c0c0c0;}
.no-touch .product-image:hover {border-color: #eeeeee;}
#search_mini_form .search-button::before {background-image: url("../images/lupa.png"); background-position: 0 0; background-size: 27px 27px;}
.sub a.social img {width: 40px; height: 40px;}
.sub a.social {clear: both; display: block; margin-bottom: 6px;}
.sub a.social img.no-hover {display: block;}
.sub a.social img.hover {display: none;}
.sub a.social:hover img.no-hover {display: none;}
.sub a.social:hover img.hover {display: block;}
.col-left-first {margin-top: 46px;}
.block-layered-nav .block-content > dl > dd {border-color:#dddddd;}
select {-webkit-appearance: none; -moz-appearance:none; text-indent: 0.01px; background: none; border: 1px solid #ccc; color: #848484; border-radius: 11px; background-image:url("../images/row-select.png"); background-repeat: no-repeat; background-position: right center; padding: 1px 4px 1px 2px; font-size: 13px;}
.category-products select, .catalogsearch-result-index select {min-width:100px;}
.sorter label {font-size: 14px;}
.pages {overflow: unset;  width: auto; display: inline-flex;}
.pages a, .pages .current {display: inline-block; color: #848484;}
.pages a.next {margin-left: 13px; }
.pages .current, .pages .current:hover {border: 0px; color: #182143; line-height: 33px;}
.toolbar-bottom .sort-by {display: none;}
.product-view .product-shop .product-name .h1 {text-transform: none; font-size: 18px;}
.product-sku {clear: both;}
.product-sku p {font-size: 17px;}
.product-view .qty-wrapper {clear: both; width: 100%; padding: 10px 0; border-top: 1px solid #000; border-bottom: 1px solid #000;}
.product-view .add-to-cart .qty-wrapper label {color:#293A74; font-size: 14px; line-height: 30px;}
.product-view .add-to-cart .qty-wrapper .qty {height: 30px; width: 4em; border-radius: 5px; border: 1px solid #c0c0c0;}
.product-view .special-price .price-label {display: block;float: left; color: #a0a0a0; margin-right: 10px;}
.product-view .old-price .price-label {display: block;float: left; margin-right: 10px;}
.product-view .add-to-cart {border-bottom: 0px;}
.product-view .add-to-cart-buttons .btn-cart {display: none;  }
.product-view .add-to-cart-buttons {max-width: 0; min-height: 0;}
.product-view .add-to-cart {margin-bottom: 0; padding-bottom: 0;}
.product-view .price-info {margin-bottom: 30px;}
.product-view .add-to-cart-wrapper .btn-cart {float: right;}
.banner-lateral a {width: 100%;}
.banner-lateral a img {padding: 10px 0; max-width: 100%; width: 100%;}

.product-collateral {margin-top: 30px;}
.product-collateral > dl > dt {background-color: #293a74;border-bottom-width: 0; border-radius: 12px; color: #fff;cursor: pointer;font-weight: bold; margin-bottom: 15px; padding: 10px 16px; background-image: url("../images/row-down.png");background-position: right; background-repeat: no-repeat;}
.product-collateral > dl > dt:hover {background-color: #293a74;border-bottom-width: 0; color: #fff;}
.product-collateral.accordion-open > dl > dd.current {background-color: #FAFAFA; border: 1px solid #cecece; margin-bottom: 15px;}
.product-collateral.accordion-open > dl > dt.current {background-image: url("../images/row-up.png");}
#product-attribute-specs-table th {border: 1px solid #ffffff;}
.product-collateral .data-table thead th, .product-collateral .data-table tbody td {border: 1px solid #ffffff;}
.product-view .block-related {width: 100%; padding: 0;}
.block-related .mini-products-list li {clear: none; float: left; width: 233px; margin: 0; padding: 10px;}
.block-related .mini-products-list .product-image {width: 100%; position: relative;}
.block-related .destacado {position: absolute; top: 0; left: 0; color: #ffffff; padding: 5px 10px; font-weight: bold;}
.block-related .descuento {position: absolute; bottom: 0; right: 0; color: #ffffff; padding: 5px 10px; font-weight: bold;}
.block-related .mini-products-list .product-image img {width: 100%;}
.block-related .product-image-thumbs a {border: 1px solid #eeeeee;}
.block-related .product-details {margin-left: 0; clear: both; text-align: center; position: relative; height: 160px;}
.block-related .product-details .action {text-align: center; position: absolute; bottom: 0; width: 100%;}
.block-related .product {margin-left: 0;}
.block-related .block-title {padding: 0;}
.block-related .block-title h5 {width: 260px; background-color: #010141; color: #ffffff; border-radius: 0 0 10px 10px; padding: 5px 30px; font-weight: normal;}
.block-related .product-name {text-align: center;}
.block-related .product-details .price-box {text-align: center;}
.block-related .product-details .price-box span {float: none;}
.block-related .product-details .price-box span.price-label {display: none;}
.block-related .carruseldestacados {width: 100%; overflow: hidden;}
.block-related .carruseldestacados .carruseldestacados-item {margin: 3px;}
.block-related .carrusel-content {width: 1550px;}
.title-categories {display: none;}

.masvendidos {border-top: 1px solid #000000;}
.masvendidos h5 {width: 165px; background-color: #010141; color: #ffffff; border-radius: 0 0 10px 10px; padding: 5px 20px; font-weight: normal;}
.masvendidos ul {border: 1px solid #010141; border-radius: 15px; overflow: hidden; padding: 4.5% 1.5%;}
.masvendidos ul li {clear: both; float: left; padding: 2% 5%; width: 100%; border-bottom: 1px solid #cccccc;}
.masvendidos ul li:last-child {border-bottom: 0px none;}
.masvendidos ul li .info {width: 70%; float: left; padding-left: 2%;}
.masvendidos .price-box {margin: 0;}
.masvendidos .info a.cart {text-transform: uppercase; font-size: 11px; text-align: center; cursor: pointer;}
.masvendidos .price-box .special-price span,
.masvendidos .price-box .old-price span {font-size: 13px; color: #636363;}
.masvendidos .product-name p {font-size: 9px; color: #636363;}
.masvendidos .price-box .special-price,
.masvendidos .price-box .old-price {width: 50%; float: left;}
.masvendidos .price-box .special-price span {color: #FA0000;}

.masvendidos .product-image {width: 30%; float: left;}

.col-left .block-title {border-top: 0; }

#narrow-by-list dt {background: none; border-width: 0 0 1px; border-color: #ccc; color: #304387; font-weight: bold; padding-bottom: 0; padding-left: 0;}
#narrow-by-list dd {border: 0px;}
#narrow-by-list dd li a {color: #777;}
#narrow-by-list2 li {position: relative;}
#narrow-by-list2 li a {padding-top: 3px; padding-bottom: 3px;}
#narrow-by-list2 li:hover > a {text-decoration: underline;}
#narrow-by-list2 li ol li a.current {color: #304387 !important;}
#narrow-by-list2 li ol li ol li a.current {color: #304387 !important;}
#narrow-by-list2 dd {padding: 10px 0;}
#narrow-by-list2 dd > ol > li > a {text-transform: uppercase; font-weight: bold; }
#narrow-by-list2 .level2 > li a {text-transform: capitalize; color: #777777 !important;}
#narrow-by-list2 .level2 > li > a {font-weight: normal; padding-left: 30px;}
#narrow-by-list2 .level2 li:hover > a {color: #444 !important;}
#narrow-by-list2 .level3 > li a {text-transform: none; padding-left: 35px;}
#narrow-by-list2 li ol li ol li {padding-left: 10px;}
#narrow-by-list2 li span { background-position: 7px 0; background-repeat: no-repeat; background-image: url("../images/plus.jpg"); cursor: pointer; display: block; height: 11px; right: 5px; width: 11px; position: absolute; top: 6px;}
#narrow-by-list2 li span.open {background-image: url("../images/minus.jpg");}

.category-title h1 img {float: left; width: 32px; margin-right: 5px;}

.banner-categoria img {width: 100%;}
.subcategory {width: 25%; float: left; padding: 1%;}
.subcategory a {position: relative; display: block;}
.subcategory a .over-cat {position: absolute; top: 0; left:0; width: 100%; height: 100%;}
.subcategory a:hover .over-cat {background-color: rgba(7,6,66,0.5);}
.subcategory a .hover-img {height: 100%; position: absolute; top: 0; width: 100%; z-index: 100;}
.subcategory a h2 {font-size: 13px;text-align: center;color: #ffffff; padding: 5px 0; background-color: #182143;}
.subcategory a img {width: 100%;}

.products-grid a.product-image {position: relative;}
.products-grid a .over-cat {position: absolute; top: 0; left:0; width: 100%; height: 100%;}
.products-grid a:hover .over-cat {background-color: rgba(7,6,66,0.5);}
.category-products .price-box .price-label5 {display: none;}


.category-header {border-top: 1px solid #000;}
.category-header .title {background-color: #010141; border-radius: 0 0 10px 10px; color: #ffffff; font-weight: normal; padding: 5px 30px; width: 183px; font-size: 13px;}

.catalog-category-view .col-left {width: 21%; padding: 0.5%;}
.catalog-category-view .col-main {width: 79%;}
.catalog-category-view .page-title h1 {color: #070642;}

.category {clear: both; padding-top: 40px;}

.nav-primary {clear: left;}
.logo.down {display: none; min-height: 0; padding: 0;}

#slider-home {height: auto; padding-bottom: 39%;}
#slider-home .sub {width: 63%; float: left;}
#slider-home a {width: 100%;}
.sub-f {width: 100%;}
.f-logo2 {display: none;}
.f-logo {float:left; width: 14%;}
.f-logo .sub {float: left;}
.f-menu {float:left; width: 59%;}
.f-menu .sub {float: left; width: 33%;}
.f-menu .sub > h3 {display: none;}
.f-right {float:left; width: 27%;}
.f-right .sub {float: left;}
.f-right .sub + .sub {float: right; padding-right: 5px;}

.nav-primary a.level0 {padding: 0;}

.checkout-cart-index .col-main {padding: 0 1% 20px; overflow: hidden;}

.data-table thead th {background-color: #293A74; color: #ffffff; font-weight: bold;}
.data-table tbody td {background-color: #ffffff; vertical-align: middle;}
.cart-table .product-cart-image .product-image img {width: 150px;}
.cart-table .product-cart-image .product-image {width: 150px;}
.cart-table .product-cart-image {width: 17%;}
.cart-table thead th:first-child {border-radius: 15px 0 0 15px;} 
.cart-table thead th:last-child {border-radius: 0 15px 15px 0;} 
.cart-table .data-table tbody td span {vertical-align: middle;}
.btn-continue {margin: 0 0 20px 0; clear: right; float: right;}
.coupon, .envio, .cart-totals-wrapper {width: 33.3%; float: left;}
.coupon {clear: both; padding: 0 10px;}
.coupon #discount-coupon-form label {font-weight: bold; color: #293A74; font-size: 18px; margin-bottom: 20px;}
.coupon #discount-coupon-form .input-text {width: 100%; border-radius: 6px;}
.coupon .field-wrapper {width: 100%; margin-top: 20px;}
.coupon .button-wrapper {float: right; margin-top: 40px;}
.cart-totals-wrapper {padding: 0; }
.cart-totals {background-color: #ffffff; border: 0 none;}
.envio {text-align: center;}
.envio > strong {font-size: 18px; font-weight: bold; color: #293A74;}
.envio p strong {font-size: 21px; color: #293A74;}
.envio small {margin-top: 30px; display: block;}

.cart-table h2 {font-weight: 500;}
.cart-table tbody tr {border-bottom: 1px solid #cecece;}
.cart .cart-totals table {font-size: 15px; text-transform: none;}
.cart .cart-totals table td {text-align: right;}
.cart .cart-totals table td:first-child {color: #293a74;}
.cart .cart-totals table tfoot strong {font-weight: 600; text-transform: uppercase; color: #293A74;}
.cart .cart-totals table tfoot tr {border: 1px solid #e6e6e6; border-radius: 6px; }

.product-cart-actions .button2 {display: block; margin: auto;}
.product-cart-actions .button2 span span {text-decoration: none; text-transform: none; padding-bottom: 20px; background-image: url("../images/actualizar.jpg"); background-repeat: no-repeat; background-position: center bottom;padding-bottom: 43px; }
.product-cart-actions .button2 span {height: 44px;}

.msj-cart {float: left; margin-top: 30px;}

.header-minicart .info-wrapper tbody td span + span {display: none;}

.checkout-onepage-index .col-main {float: none; margin: auto; padding: 0 1%;}

.opc {position: relative; padding-top: 40px; width: 62.75%; margin: 30px auto auto;}
#opc-shipping .form-list {width: 75%; margin: auto;}
#opc-shipping .form-list label {margin-bottom: 15px;}
#opc-shipping .form-list .input-box div {margin-bottom: 5px;}
#opc-shipping_method .step-title {position: absolute; top: 0; left: 40%; width: auto;}

.opc .active .step-title {background-color: #304387;}
.opc .step-title {background-color: #8b8b8b; border-radius: 14px;}
.opc .section.allow.active .step-title span.number, .opc .section .step-title span.number {background-color: #ffffff; color: #304387; border-radius: 14px;}
.opc .section.active .step-title span.number, .opc .section .step-title h2 {color: #ffffff; font-size: 13px;}
.no-touch .opc .section.allow:hover .step-title .number {background-color: #ffffff; color: #8b8b8b;}

.opc .section .step-title {position: absolute; top: 0; width: 236px;}
#opc-shipping .step-title {left: 0%;}
#opc-shipping .buttons-set {text-align: center;}
#opc-shipping .buttons-set button.button {float: none;}
#opc-shipping .input-box input {width: 30px;}
#opc-review .step-title {left: 36%;}
#opc-review .data-table tbody td {text-align: center;}
#opc-review .data-table tbody td.image {width: 16%;}
#opc-review .data-table tbody td.image + td {width: 84%; text-align: left;}
.checkout-review-options {float: left;}
.checkout-review-options .f-left {border:1px solid #8b8b8b; border-radius: 6px; margin-top: 20px; padding: 6px; color: #293A74; font-weight: bold;}
.checkout-review-options .f-left a {clear: both; display: block; margin-top: 10px;}
.checkout-review-options .f-left a span {font-weight: normal; color: #8b8b8b;}
#opc-confirm .step-title {left: 72%;}

.opc .data-table tbody tr {border-bottom: 1px solid #cecece;}
.opc .data-table tbody tr td {padding: 30px 10px;}
.opc .data-table thead tr th:first-child {border-radius: 15px 0 0 15px;}
.opc .data-table thead tr th:last-child {border-radius: 0 15px 15px 0;}
table.totals {float: right; width: 100%; margin-top: 20px;}
table.totals tr td {padding: 0 5px;}
table.totals td:first-child {float: left; color: #293A74;}
table.grandtotal {clear: both; float: right; width: 100%; margin-top: 20px; border: 1px solid #dddddd;}
table.grandtotal td:first-child {text-align: left; }
table.grandtotal td {color: #293A74; padding: 8px 5px;}
.totalscontainer, #review-buttons-container, .checkout-agreements, .checkout-review-submit {float: right;}
.totalscontainer {width: 32%;}
#checkout-review-load p {display: block; margin-bottom: 20px;}

.checkout-review-submit {float: right;}

.checkout-onepage-success p { font-size: 16px;}
.checkout-onepage-success p.first-p {margin: 50px 0 20px 0;}
.checkout-onepage-success p.n-ord {margin: 20px 0; }
.checkout-onepage-success p a {font-size: 16px; font-weight: bold;}
.checkout-onepage-success p.azul {color: #304387; margin-bottom: 30px; font-weight: bold;}
.checkout-onepage-success .page-title h1 {text-align: left;}
.checkout-onepage-success .page-title span {display: block; text-align: left;}

#my-orders-table tbody tr {border-bottom: 1px solid #cccccc;}
#my-orders-table tbody tr .product-name {font-weight: 600;}

.checkout-agreements {text-align: right; clear: both;}
.agreement-content {display: none;}
.agree input {width: 12px; height: 12px; top: 2px;}
.agree label a {font-size: 12px; text-decoration: underline;}
.agree .checkbox + label {max-width: 95%;}

.col-left .our-company, .col-left .block-account {padding: 10px 15px; border: 1px solid #dddddd; margin: 0 1%; border-radius: 5px; display: block;}
.col-left .block-title {margin-bottom: 15px;}

.col-left .our-company li {margin: 7px 0;}
.col-left .our-company li a {font-weight: bold; text-transform: uppercase;}
.col-left .our-company li:hover > a {text-decoration: underline;}
.col-left .our-company li:hover ul {display: block;}
.col-left .our-company ul {display: none;}
.col-left .our-company ul li {padding-left: 20px;}
.col-left .our-company li ul li a {text-transform: none;}
.col-left p#h3 {display: none;}

.orders thead tr th:first-child {border-radius: 6px 0 0 6px;}
.orders thead tr th:last-child {border-radius: 0 6px 6px 0;}
.my-account h2 {color: #293A74;}
.dashboard .box-account .box-content a {margin-top: 30px; display: block;}

.std #slider-home {height: 0; padding-bottom: 39.5%;}
.std #slider-home a.more {bottom: 18%; position: absolute; right: 17%;}
.std #slider-home .banner-right p {line-height: 18px; max-height: 56px;}
.std .bloques .column {width: 33%; float: left; padding: 2%;}
.std .bloques .column a { display: none;}
.std .subbloques .column p {text-align: justify; margin-right: 0px;}
.std .subbloques .column img {margin-bottom: 15px;}
.std .buttons-down {width: 100%; clear: both;}
.std .buttons-down div {width: 33%; padding-left: 1.5%; float: left; display: inline-block;}
.banner-texto p {padding: 0 15px;}
.banner-texto {border-top: 1px solid #000000; margin-bottom: 20px;}
.banner-texto .bloque {clear: both; padding-top: 15px;}
.banner-texto img {float: left; padding-right: 23px;}
.banner-texto p {width: 100%; text-align: justify;}
.acordeon {display: block; margin-top: 20px; clear: both;}

.std .title {background-color: #010141; border-radius: 0 0 10px 10px; color: #ffffff; font-weight: normal; padding: 5px 30px; font-size: 13px; text-transform: uppercase;display: inline-block; text-align: left;}
.bloques {border-top: 1px solid #000000; clear: both; overflow: hidden; padding-bottom: 25px;}
.subbloques {clear: both; margin-top: 15px;}
h4.tab {background-color: #293a74; background-image: url("../images/row-down.png"); background-position: right center; background-repeat: no-repeat; border-bottom-width: 0; border-radius: 12px; color: #fff; cursor: pointer; font-weight: bold; margin-bottom: 15px; padding: 10px 16px;}
h4.tab.opened {background-image: url("../images/row-up.png");}
.mapa {border-top: 1px solid #000000;}
.mapa .mapa-cont {margin: 15px 0; width: 50%; float: left;}
.mapa .datos {width: 50%; float: left; margin: 15px 0; padding: 0 0 0 15px;}
.submapa {clear: both;}

#form-validate h2, .account-login h2 {color: #304387; font-size: 18px; text-transform: none; font-weight: bold;}
#form-validate label, .account-create label, .account-login label {color: #a0a0a0;}
#form-validate input, .account-create input, .account-login input {height: 25px; border-radius: 8px;}
.account-create select, .account-login select {height: 25px; border-radius: 8px;}
#form-validate .buttons-set, .account-create .buttons-set {margin-bottom: 15px;}

.customer-account-login .col-main {max-width: 70%; margin: auto;}
.customer-account-login .new-users {width: 50%; padding-right: 2% !important;}
.customer-account-login .col2-set > .registered-users {width: 50%;}
.customer-account-login .new-users .registered-users {width: 100%;}
.customer-account-login .new-users .registered-users input {width: 100%;}
.customer-account-login .col2-set > .registered-users input {width: 100%;}
.customer-account-login .col2-set > .registered-users select {width: 100%;}
.customer-account-login .col2-set > .registered-users p.form-instructions {margin-bottom: 10px;}
.send-contacts {bottom: 34px;clear: both; display: block !important;position: absolute;width: 40%;}

.promociones {float: right;}
.promociones li {float: left;}
.promociones li a {padding: 5px 15px; border-radius: 0 0 10px 10px; border: 1px solid #636363; text-transform: uppercase;}
.promociones li:hover a {color: #ffffff !important; background-color: rgb(7, 6, 66);}
.promomenu {display: none;}

.promo-princ {width: 66.24%; float: left; border: 1px solid #cecece; margin-right: 1%; margin-bottom: 10px;}
.promo-princ a {position: relative; display: block;}
.promo-princ .sub {position: absolute; bottom: 0; left: 0; width: 100%; background-color: #00B6FF; padding: 5px 10px; display: none;}
.promo-princ a:hover .sub {display: block;}
.promo-princ .sub h2 {color: #ffffff; font-weight: bold; font-size: 19px; height: 44px; overflow: hidden;}
.promo-princ .sub p {color: #ffffff; line-height: 16px; margin-bottom: 6px; height: 34px; overflow: hidden;}
.promo-princ img {width: 100%;}
.promo-secun {width: 32.66%; float: right; border: 1px solid #cecece; margin-bottom: 0.8%;}
.promo-secun a {position: relative; display: block;}
.promo-secun .sub {position: absolute; bottom: 0; left: 0; width: 100%; background-color: #00B6FF; padding: 5px 10px; display: none;}
.promo-secun a:hover .sub {display: block;}
.promo-secun .sub h2 {color: #ffffff; font-weight: bold; font-size: 19px; height: 45px; overflow: hidden;}
.promo-secun .sub p {color: #ffffff; line-height: 16px; margin-bottom: 6px; height: 38px;}
.promo-secun img {width: 100%;}
.promo-terc {float: left; width: 32.66%; border: 1px solid #cecece;margin-right: 1%; margin-bottom: 10px;}
.cms-page-view .title-promo {background-image: url("../images/promo.png"); background-position:-5px 0; background-repeat: no-repeat; background-size: 258px auto; padding: 14px 0 3px 10px;font-size: 24px; color: #304387; text-transform: uppercase; line-height: 28px; display: block;}
.cms-page-view .mpromo + .page-title h1 {padding-left: 10px; font-size: 15px;}
#mh3 {display: none;}
#contactForm {margin-bottom: 15px;}
#contactForm label {color: #a0a0a0; }
#contactForm select, #contactForm input {border: 1px solid #c0c0c0; height: 25px; border-radius: 8px;}

.noticia-list-container {clear: both;}
.noticia-principal-list-container {width: 66.24%; float: left; margin-right: 1%;}
.noticia-principal-list-container .noticia-list-item {width: 100%; margin-right: 0;}
.noticia-principal-list-container .noticia-list-item .descr {min-height: 320px; overflow: hidden;}
.noticia-secundaria-list-container {width: 32.66%; float: right;}
.noticia-secundaria-list-container .noticia-list-item {width: 100%; margin-right: 0;}
.noticia-list-item {width: 32.66%;margin-right: 1%;float: left; padding: 1.5%; border: 1px solid #cecece; margin-bottom: 10px;}
.noticia-list-item h2 {color: #003284; text-transform: none; font-weight: 600; margin-bottom: 0; margin-top: 8px; font-size: 20px; height: 48px; overflow: hidden;}
.noticia-list-item a {float: right; height: 22px; max-width: 350px; overflow: hidden;}
.noticia-fecha, .noticia-list-item span.date {color: #bebebe; display: block; margin-bottom: 8px;}
.noticia-imagen {overflow: hidden;}
.noticia-imagen img {float: left; margin-right: 1%; width: 40%;}
.noticia-view {margin: 1%; padding: 1%; border: 1px solid #cecece; overflow: hidden;}
.noticia-list-item .descr {height: 104px; overflow: hidden; text-align: justify;}
.noticia-list-item p {color: #888888;}
.noticia-list-item .noticia-imagen img {width: 100%;}
.corbeta-noticias-noticia-index .pages {width: auto; margin: auto; float: none;  display: inline-block;}
.corbeta-noticias-noticia-index .pages ol {float: right;}
.corbeta-noticias-noticia-index .pages li {padding-right: 13px;}
.corbeta-noticias-noticia-index .pager {width: 100%; text-align: center;}
.noticia-view a {display: inline-block; margin-top: 35px;}

.cms-index-noroute .std {margin-bottom: 85px; margin-top: 50px;}
.cms-index-noroute .std .page-title h1 {text-align: center; margin-bottom: 60px;}
.cms-index-noroute .std .disc {text-align: center;}

.go-top {position: fixed; bottom: 7px; right: 7px; display: none; z-index: 2000;}

#contactForm .form-list {clear: both;}
#contactForm .form-list > li {width: 50%; float: left;}
#contactForm .form-list > li.hide {display: none;}
#contactForm .form-list > li.wide {clear: both;}
#contactForm .second {clear: both; text-align: center;}
#contactForm .second select {max-width: 450px; width: 100%;}
#contactForm .second label {display: block; margin: auto; max-width: 450px; text-align: left;}

.nav-primary li a.door::after {border-left: 4px solid rgba(0,0,0,0);}

.my-account #form-validate .buttons-set {text-align: center;}
.my-account #form-validate .buttons-set button.button {float: none;}
.customer-account-edit li label.required::after {color: #ffffff!important;}
.customer-account-edit li label.required {font-size: 14px;}
.customer-account-edit li .input-box {font-size: 12px;}

.mas-vendidos { padding: 0; width: 100%;}

.product-image-gallery .dstdo {position: absolute; top: 0; left: 0; color: #ffffff; background-color: #182143; padding: 5px 10px;}
.product-image-gallery .dcto {position: absolute; bottom: 0; right: 0; color: #ffffff; background-color: #182143; padding: 5px 10px;}

.product-sku-media {display: none;}

.order-responsive {display: none;}

.customer-account-resetpassword .scaffold-form {max-width: 365px; margin: auto; margin-bottom: 50px;}

.catalogsearch-result-index .products-grid {max-width: 1025px; margin:auto;}
/*.catalogsearch-result-index .pages strong {float: none; display: inline-block;}
.catalogsearch-result-index .pages ol {display: inline-block;}*/

.col2-left-layout .masvendidos .info .price-label5 {display: none;}
.col2-left-layout .masvendidos .info span {font-size: 13px;}

.catalog-product-view .carruseldestacados {max-height: 400px;}

.dashboard .col2-set .col-1, .dashboard .col2-set .col-2 {width: 50%;}
.customer-address-index .col2-set .col-1, .customer-address-index .col2-set .col-2 {width: 50%;}
.customer-account-edit .buttons-set {max-width: 365px; text-align: right !important;}

.sales-order-view span.sku {font-family: "Helvetica Neue", Verdana, Arial, sans-serif;}

@media only screen and (max-width: 1025px) {
.f-menu .sub > div > h3 {display: none; }
.f-menu .sub > div {display: none; margin-bottom: 10px;}
.f-menu .sub > h3 {display: block; cursor: pointer; background-image: url("../images/plus-f.jpg"); background-repeat: no-repeat;background-position: right; margin-bottom: 0;}
.f-menu .sub > h3.minus {background-image: url("../images/minus-f.jpg");}
}

@media only screen and (max-width: 941px) {
	.destacados .subcategory {position: relative; clear: both;}
	.destacados .category_body {clear: both;}
	.destacados .category_body .containeropen {display: block !important;}
	.destacados .category_body .containerclosed {display: none;}
	.destacados .category_body .acordion-nav {width: 100%; clear: both; }
	.destacados .category_body .acordion-nav a.open {background-image: url("../images/row-up.png"); background-position: right; background-repeat: no-repeat;}
	.destacados .category_body .acordion-nav a.closed {background-image: url("../images/row-down-n.png"); background-position: right; background-repeat: no-repeat;}
	.destacados .category_body .acordion-nav:hover a.closed {background-image: url("../images/row-down.png"); background-position: right; background-repeat: no-repeat;}
	.destacados .category_body .acordion-nav:last-child {margin-bottom: 14px;}
	.category-header {border-top: 0 none;}
	.destacados .category-header {border-top: 0 none; margin: 0px; }
	.destacados .category_body .acordion-nav a {border-radius: 0; border-color: #dcdcdc; border-style: solid; border-width: 1px; padding: 4px 10px; text-transform: uppercase; margin: 0 0 5px; display: block; width: 100%; }
	.category-header .subcategories {display: none;}
	.destacados .category_body .acordion-nav:hover a {color: #ffffff;} 	
}

@media only screen and (min-width: 771px) and (max-width: 1025px) {
	.f-logo {width: 19%;}
	.f-menu {width: 45%; text-align: center;}
	.f-menu .sub {width: 50%; margin: auto; float: none;}
	.f-menu .sub h3, .f-menu .sub ul, .f-menu .sub li {text-align: left;}
	.f-right {width: 36%;}
	
	.promo-secun .sub h2 {font-size: 14px;}
	.promo-secun .sub p {font-size: 12px;}

	.promociones li a {font-size: 12px; padding: 5px 4px;}

	.std #slider-home a.more {right: 14%;}
}

@media only screen and (min-width: 501px) and (max-width: 770px) {
	#slider-home .banner-right h3 {font-size: 10px;line-height: 12px; max-height: 23px;}
	#slider-home .banner-right p {font-size: 9px; line-height: 10px; max-height: 30px;}
	#slider-home a.more {padding: 5px; font-size: 9px; margin-top: 11px;}
	#slider-home .banner-nav-box {left: 64%;}
	#slider-home a.more {right: 20%; bottom: 30%;}
	.banner-lateral {width: 40%; float: left; margin: 0 5%;}
	.std #slider-home a.more {right: 19%; border-radius: 9px;}

}

@media only screen and (min-width: 890px) and (max-width: 1025px) {
	.nav-primary li.level0 {width: auto;}
	.nav-primary a.level0 {padding: 0 10px 0 0;}
	#header-search {position: absolute; left: 180px;}


}
@media only screen and (min-width: 771px) and (max-width: 889px) {
	.nav-primary li.level0 img{display: none;}
	.logo {margin: 15px 0;}
	.menu-header {top: 130px; position: absolute;}
	.menu-header li {padding: 0 10px;}
	.account-cart-wrapper {position: absolute; top: 75px;}
	#header-search {position: absolute; right: 20px; left: auto; width: 50%; }
	
}
@media only screen and (min-width: 890px) and (max-width: 1025px) {
	.menu-header {top: 115px;}
}
@media only screen and (min-width: 942px) {
	.category_body .acordion-nav {display: none;}

}

@media only screen and (min-width: 771px) {
	.promo-terc:nth-child(3n) {margin-right: 0;}
	.noticia-list-item:nth-child(3n) {margin-right: 0;}
}

@media only screen and (max-width: 770px) {
	button {font-size: 13px;}
	.nav-primary li.level0 {width: 100% !important;}
	.nav-primary li.level0 li.active > a {color: #a0a0a0;}
	.nav-primary li.level1 li.active > a {color: #a0a0a0;}
	.nav-primary li a.door {width: 24px; height: 24px; background-image: url("../images/plus.jpg"); position: absolute; right: 10px; z-index: 2000; top: 6px; background-repeat: no-repeat; padding: 0; background-position: center;}
	.nav-primary li.menu-active > a.door:hover {background-color: #ffffff;}
	.nav-primary li.menu-active > a.door {background-image: url("../images/minus.jpg");}
	.nav-primary ul li li.level1.menu-active > a {color: #8b8b8b;}
	.title-categories {display: block; color: #304387; font-weight: bold; text-transform: uppercase;font-size: 18px;}
	.title-categories span {background-color: #304387; color:#ffffff;padding: 0 6px;border-radius: 9px; cursor: pointer; font-size: 13px; font-weight: normal; line-height: 19px; font-size: 20px; position: absolute; left: 137px; top: 7px;}
	.nav-primary li {color: #304387; background-color: #fff; position: relative; }
	.nav-primary a.level0, .nav-primary a { line-height: 33px;}
	.nav-primary li a {color: #304387;}
	.nav-primary li a img {margin: 0;}
	.nav-primary li:hover a {background-color: #ffffff; color: #304387;}
	.nav-primary a.level0:hover, .nav-primary li.level0:hover > a {background-color: #ffffff; color: #304387;}
	.nav-primary li a.level0:hover {background-color: #ffffff; }
	#nav {display: none;}

	.f-logo {width: 100%;}
	.f-logo img {margin: auto;}
	.f-menu {width: 100%; text-align: center; margin: 30px 0; padding: 0 8px;}
	.f-menu .sub {width: 100%; margin: auto; float: none;}
	.f-menu .sub h3, .f-menu .sub ul, .f-menu .sub li {text-align: left; padding-left: 20px;}
	.f-right {width: 100%; margin: auto; float: none; padding: 0 8px;}

	.header-minicart {display: inline; background: none;}
	.logi {display: none; width: 0;}
	.skip-account.crea {width: 100%;}
	.action-wrapper:hover {opacity: 0.8;}
	.skip-cart {width: 25%; overflow: hidden; display: inline;}
	.action-wrapper{  border: 0 none; width: 25%; overflow: hidden; border-radius: 0;}
	.screen-large {display: none;}
	#header-nav { border-top: 1px solid #ccc; margin-top: 10px; padding: 5px 10px; position: relative;}
	.logo.up {padding: 0; margin: 0;min-height: 0;}
	.logo.down {clear: both; float: none; margin: auto; display: block;}
	.logo.down img {margin: auto;}
	.page-header-container .store-language-container {padding: 0;}

	.phone li {float: none; background-color: #304387;}
	.phone li a {color: #ffffff;}
	.phone li:hover a {color: #cccccc;}
	.phone li a:hover {color: #cccccc;}

	.nav-primary li.level0 > a {color: #304387; font-weight: bold;}

	.catalog-category-view .col-main {width: 100%;}
	.catalog-category-view .col-left {width: 100%;}

	.col-main .sidebar .block.block-layered-nav:first-child {display: none;}

	.toolbar .pages {display: none;}
	.toolbar-bottom .toolbar .pages {display: inline-flex;}

	.col-left {margin-top: 0;}
	.col-left p.block-subtitle {background-image: url("../images/row-down.png"); background-repeat: no-repeat; background-position: right;}
	.col-left p.block-subtitle.active {background-image: url("../images/row-up.png");}

	.products-grid {padding: 0 7px;}

	.product-view {padding: 0 10px;}

	.catalog-category-view .page-title h1 {text-align: center;}
	.category-title h1 img {float: none; display: inline;}

	.coupon, .envio, .cart-totals-wrapper {width: 100%; clear: both;}
	.envio {margin: 25px 0;}

	.col-left .our-company {border: 0 none;}
	.col-left p#h3 {background-image: url("../images/plus.jpg"); background-position: 150px center; background-repeat: no-repeat; display: block; margin: 0 13px; text-transform: uppercase; cursor: pointer;}
	.col-left p#h3.minus { background-image: url("../images/minus.jpg");}
	.col-left #desmenu {display: none;}

	.bloques .column a {font-size: 11px;}

	.promo-princ {width: 100%;}
	.promo-secun {width: 100%;}
	.promo-terc {width: 49%; margin-right: 2%;}
	.promo-terc:nth-child(2n) {margin-right: 0;}

	.noticia-list-item {width: 49%; margin-right: 2%;}
	.noticia-list-item:nth-child(2n) {margin-right: 0;}
	.noticia-principal-list-container {width: 100%;}
	.noticia-secundaria-list-container {width: 100%;}
	.noticia-secundaria-list-container .noticia-list-item {width: 100%;}

	p#mh3 {background-image: url("../images/plus.jpg"); background-position: 238px center; background-repeat: no-repeat; display: block; margin: 0 13px; text-transform: uppercase; cursor: pointer;}
	p#mh3.minus { background-image: url("../images/minus.jpg");}
	#desmenu4 {display: none;}
	.promociones {float: none; margin: 0 1%; padding: 10px 15px;}
	.promociones li {float: none; margin: 6px 0;}
	.promociones li a {border: 0 none;  font-weight: bold; padding: 4px 15px;}
	.promociones li a.active {display: block; width: 100%; padding: 5px 15px; background-color: #304387; border-radius: 0;}
	.promociones li:hover {background-color: #304387; }
	.promociones li:hover a {background-color: rgba(0,0,0,0) !important; }

	.skip-search {position: absolute; right: -1px; top: 0px;}

	.go-top {display: block;}

	#contactForm .form-list > li {padding: 0 1%;}

	.block-related .carruseldestacados {width: 100%;}
	.block-related .carrusel-nav-right {right: -1px;}
	.block-related .carrusel-nav-left {left: -1px;}

	.skip-cart span.label {float: right; padding-right: 5px;}
	.header-language-background {padding: 0;}
	.welcome-msg {display: block;}
	.skip-links {position: relative;}

	.coupon .button-wrapper {margin-top: 7px;}

	.product-sku-media {display: block;}
	.product-sku {display: none;}
	
	.send-contacts {width: 55%;}

	.button.filtros {display: block !important; width: 87px; float:right; line-height: 10px; }
	.catalog-category-view {}
	#catalog-filters {position: absolute; top: 125px; left: 0; width: 98%; background-color: #fff; padding:10px; border: 1px solid #ccc; border-radius: 7px; z-index:1000;margin:1%;}
	.main-container {position: relative;}

}
/*.button.filtros {display:none;}*/
@media only screen and (max-width: 500px) {
	#slider-home .banner-right {padding: 4%;}
	#slider-home .banner-right h3 {font-size: 7px;line-height: 9px; margin: 0 0 3px; max-height: 17px;}
	#slider-home .banner-right p {font-size: 7px; line-height: 8px!important; max-height: 25px;}
	#slider-home a.more {padding: 2px; font-size: 8px; margin-top: 5px;}
	#slider-home .banner-nav-box {position: absolute; left: 56%; bottom: 5px;}	
	#slider-home .banner-nav-box .banner-nav {background-size: 20px auto; width: 10px;}

	.skip-cart span.label {display: none;}
	.skip-nav {width: 30%;}
	.subcategory {width: 50%;}
	.banner-lateral a img {width: 80%; margin: auto;}
	.f-logo2 {display: block; clear: both; float: none; margin: auto; width: 30%;}
	.f-logo2 img {width: 100%;}
	.f-logo {display: none;}
	.opc {width: 100%; padding-top: 130px;}
	.bloque img {width: 100%;}
	.std .bloques .column {width: 100%; padding-bottom: 20px;}
	.std .bloques .column img {width: 100%;}
	.std .bloques .column a { display: block;}
	.std .buttons-down div a {display: none;}
	.noticia-imagen img {width: 100%;}
	.noticia-list-item {width: 100%;}
	#contactForm {width: 100%; padding: 2%;}
	#contactForm .form-list > li {width: 100%;}
	#contactForm .second select {margin: 0 1%; float: left; max-width: 365px; width: 100%;}

	.submapa .mapa-cont {}
	.mapa .datos {}
	.skip-search .label {display: none;}

	#my-orders-table.orders {display: none;}

	.order-responsive {display: block; padding: 2%;}
	.order-responsive div {clear: both;}
	.order-responsive strong {margin-top: 20px;}
	.order-responsive p, .order-responsive span {float: left;}
	.order-responsive div > span {padding: 0 10px 0 30px;}
	.order-responsive span.nobr {clear: both; padding-left: 50%;}

	.send-contacts {width: 45%; bottom: 18px;}
	
	
	.toolbar {height: 88px;}
	.products-grid .product-name, .products-list .product-name {height:36px;}
	
}

@media only screen and (min-width: 400px) and (max-width: 500px){
	#slider-home a.more {right: 19%; border-radius: 7px;}
	.std #slider-home a.more {right: 19%; border-radius: 7px;}
}

@media only screen and (min-width: 360px) and (max-width: 399px) {
	#slider-home a.more {right: 16%; border-radius: 7px;}
	.std #slider-home a.more {right: 16%; border-radius: 7px;}
}

@media only screen and (max-width: 359px) {
	#slider-home a.more {right: 13%}
}

@media only screen and (max-width: 699px) {
	.cart-table td.subt {display: table-cell !important;}	
}
@media only screen and (max-width: 599px) {
	.cart-table td.subt {text-align: left;}
	.product-cart-actions .button2 {margin: unset;}
	.cart-table .product-cart-image .product-image {width: 100%;}
	.cart-table .product-cart-image .product-image img {width: 100%;}
	.msj-cart {border-bottom: 1px solid #8b8b8b;}

	.opc .data-table thead tr th:first-child {display: none !important;}
	.opc .data-table tbody tr td img {width: 100%;}
	.opc #opc-review .data-table tbody tr td {padding: 2px; text-align: left;}

	.totalscontainer {width: 100%;}
	
}

@media only screen and (max-width: 1054px) {
	#opc-shipping .step-title {left: 0%; width: 100%;}
	#opc-review .step-title {left: 0%; top: 45px; width: 100%;}
	#opc-confirm .step-title {left: 0%; top: 90px; width: 100%;}
	#opc-shipping .form-list {width: 100%;}

}

@media only screen and (min-width: 501px) and (max-width: 1054px) {
	.opc {padding-top: 130px; width: 85%;}
}

@media only screen and (min-width: 771px) {
	.nav-primary li.level0 > a {color: white !important;}
}
