/*CARRUSEL GENERAL*/

.carruseldestacados{position:relative; margin: auto;max-height: 440px;width: 95%; margin-bottom:30px;} 
.carruseldestacados .carrusel-content{height: 440px;} 
.carruseldestacados .carruseldestacados-item{float:left;width:220px;margin:7px;} 
.carruseldestacados .carrusel-nav-box{position: absolute;}
.carruseldestacados .carrusel-nav-box .carrusel-nav{cursor:pointer;}
.carruseldestacados .carrusel-nav-box .carrusel-nav-off{}
.carrusel-nav-left{cursor:pointer;position: absolute;height: 44px;top: 100px;left:-20px;width: 22px;background-image: url("../images/arrow_left.jpg");}
.carrusel-nav-right{cursor:pointer;position: absolute;height: 44px;top: 100px;right:-20px;width: 22px;background-image: url("../images/arrow_right.jpg");}
.category-products {position:relative; clear: both; width: 100%;}
.carrusel-container{position:relative;}
.carruseldestacados-item .price-box .price-label5 {display: none;}
.product-view .carrusel-nav-left{
	left:0px;
}
.product-view .carrusel-nav-right{
	right:0px;
}
