 
.slider-home{position:relative;height:500px; margin-bottom: 20px;}
.slider-home .banner-nav-box{}
.slider-home .banner-nav-box .banner-nav{}
.slider-home .banner-nav-box .banner-nav-off{}
.slider-home .banner-nav-left{}
.slider-home .banner-nav-right{}
.slider-home .banner-slider{position:absolute; width: 100%;} 
