/*CARRUSEL GENERAL*/

.carruselsb{position:relative; margin: auto;} 
.carruselsb .carrusel-content{position:absolute;} 
.carruselsb .carruselsb-item{position:absolute;} 
.carruselsb .carruselsb-item .marca a {display: block;}
.carruselsb .carruselsb-item .marca a img {margin: auto;}
.carruselsb .carrusel-nav-box{position: absolute;}
.carruselsb .carrusel-nav-box .carrusel-nav{cursor:pointer;}
.carruselsb .carrusel-nav-box .carrusel-nav-off{}
.carruselsb .carrusel-nav-left{cursor:pointer;position: absolute;}
.carruselsb .carrusel-nav-right{cursor:pointer;position: absolute;}

/*CARRUSEL MARCAS*/
#slider_marcas{height: 150px;width: 1000px;overflow:hidden; margin-bottom:30px; clear: both;}
#slider_marcas .carrusel-content{height: 150px; }
#slider_marcas .carrusel-nav-box{ background-color: #008000;
    bottom: 0;
    padding: 0 25%;
    width: 50%;
    height:25px;
    text-align: center;
}
#slider_marcas .carrusel-nav-box .carrusel-nav{
    background-color: #FFFF00;
    display: inline-block;
    height: 20px;
    margin: 2px;
    width: 20px;
}
#slider_marcas .carrusel-nav-right{background-position: 0px 30px !important;}

#slider_marcas .carrusel-nav-box .carrusel-nav-off{background-color: #FF0000;}
#slider_marcas .carrusel-nav-left, #slider_marcas .carrusel-nav-right{
    height: 30px;
    top: 55px;
    width: 30px;
    background-image: url("../images/flechas-slider_marcas.png");
    background-position: 0px 0px;
}
#slider_marcas .carrusel-nav-left{left: 0;}
#slider_marcas .carrusel-nav-right{right: 0;} 
