.mylightbox
{
    
    position: fixed;
    height: 100%;
    top: 0;
    width: 100%;
    -ms-touch-action: none;
    touch-action: none;
    z-index: 200;
    background-color: rgba(0,0,0,0.5);
}
.mylightbox .popupwraper{
    background-color: #fff;
    border: 2px solid #003284;
    margin: 30px auto auto;
    padding: 20px;
    width: 60%;
    border-radius: 15px;
    position:relative;
    max-height: 500px;
    overflow-y: auto;
}
.mylightbox .popupcontent
{
    
}
.mylightbox .popupcloser {
    background-color: #858585;
    border-radius: 14px;
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    line-height: 17px;
    padding: 0 6px 3px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    text-transform: uppercase;
}

@media only screen and (max-width: 770px) {
    .mylightbox .popupwraper {
        width: 100%;
        margin: 0;
    }
}