#productpopup, .mylightbox
{
    
    position: fixed;
    height: 100%;
    top: 0;
    width: 100%;
    -ms-touch-action: none;
    touch-action: none;
    z-index: 200;
    background-color: rgba(0,0,0,0.5);
}
#popupwraper, .mylightbox .popupwraper{
    background-color: #fff;
    border: 2px solid #003284;
    margin: 30px auto auto;
    padding: 20px;
    width: 60%;
    border-radius: 15px;
    position:relative;
    max-height: 500px;
    overflow-y: auto;
}
#popupcontent, .mylightbox .popupcontent
{
    
}
#productcloser , .mylightbox .popupcloser {
    background-color: #858585;
    border-radius: 14px;
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    line-height: 17px;
    padding: 0 6px 3px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
.popup h2 {
    text-transform: none;
    color: #003284;
    text-align: center;
    font-weight: bold;
}
.popup h3 {
    text-transform: none;
    color: #003284;
    font-weight: bold;
}
.popup h4 {
   font-size: 17px;
   font-weight: normal;
}
.popup > p {
    text-align: center;
    color:#858585;
}
.popup .imagen{
    float: left; 
    position: relative; 
    border: 1px solid #efefef;
    width: 35%;
}
.popup .info { float: right; padding: 0 2%; width: 65%; overflow: hidden; }

.popup button.btn-cart {float: right;}
.popup .contenido {
   display: block;
   height: 100%;
   margin-top: 5%;
}
.popup .imagen img {margin: auto; width: 100%;}
.popup .qty-wrapper {
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
    margin-top: 15px;
    padding: 10px 0;
}

.popup .destacado {background-color: #070642;
    color: white;
    padding: 5px;
    position: absolute;
    top: 0; 
}
.popup .descuento {background-color: #070642;
    color: white;
    padding: 5px;
    position: absolute;
    bottom: 0; 
    right: 0;
}
.popup .price-box .old-price .price-label, .popup .price-box .special-price .price-label  {
color: #858585; 
display: block;
float: left;
margin-right: 7px;
}
.popup input.qty[type="text"] {
border-radius: 5px;
    font-size: 13px;
    height: 25px;
    width: 4em;
    border: 1px solid #c0c0c0;
    padding: 0;
}
