
 <div class="banner-slider" style="position:absolute;background-color:rgba(<?php echo $this->getBackground() ?>,1);">
 <div class="sub">
<?php if($this->getLink()): ?>
<a href="<?php echo $this->getLink() ?>">
<?php endif; ?>
<img id="<?php echo str_replace(' ','',$this->getTitle()) ?>" title="<?php echo $this->getTitle() ?>" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$this->getImage() ?>" alt="" />
<?php if($this->getLink()): ?>
</a>
<?php endif; ?>
</div>
<?php if($this->getTitle() || $this->getDescription()): ?>
<div class="banner-right">
		<?php if($this->getTitle()): ?>
		<h3><?php echo $this->getTitle(); ?></h3>
		<?php endif; ?>
		<?php if($this->getDescription()): ?>
		<p><?php echo $this->getDescription(); ?></p>
		<?php endif; ?>
		
</div>
<?php endif; ?>
<?php if($this->getLink()): ?>
		<a class="more" href="<?php echo $this->getLink() ?>">Más Información</a>
		<?php endif; ?>
</div>


